.mt-1,
.my-1 {
 	margin-top: 0.25rem !important;
}
.mr-4 {
 	margin-right: 1.5rem !important;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    color: white;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px dashed rgba(62, 75, 94, 0.20);
    background: #FBFAFF;
}

.inputfile + label em {
	width: 26px;
	height: 26px;
	background: var(--pink-cl);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 20px;
	margin: 0 auto;
}

.inputfile + label span {
	color: var(--main-cl);
	margin-top: 5px;
}

.block-upload .box-upload {
	flex: 0 0 100px;
	max-width: 100px;
	margin-right: 15px
}

.block-upload .box-text {
	flex: 0 0 200px;
	max-width: 200px;
	padding-right: 30px;
}

.block-upload .box-text p {
	font-size: 12px;
	color: rgba(36, 40, 64, 0.70);
}

.list-uploaded .item {
	flex: 0 0 130px;
	max-width: 130px;
	position: relative;
}

.list-uploaded .item:not(:last-child) {
  margin-right: 20px;
}

.list-uploaded .item .thumb-img {
	padding-top: 0;
	height: 100px;
	position: relative;
}

.list-uploaded .item  > a {
	position: absolute;
	top: 0px;
	right: 6px;
}

.add-user {
	max-width: 1240px;
	margin: 0 auto
}
.add-user .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}
.add-user .form-group > label * {
	color: #F76666;
}
.add-user .form-action li:not(:last-child) {
	margin-right: 8px;
}
@media only screen and (max-width: 768px) {
	.user-type li {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		margin: 0 0 10px!important;
		padding-right: 15px
	}
}
@media only screen and (max-width: 576px) {
	.user-type li {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0
	}
	.user-type li:last-child {
		margin-bottom: 0!important
	}
	.block-upload .box-text {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0;
		margin-bottom: 15px
	}
}

.box-upload {
    height: 100px;
    border-radius: 8px;
    border: 1px dashed rgba(62, 75, 94, 0.20);
    background: #FBFAFF;
    cursor: pointer;
}

.box-upload .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box-upload .inner * {
    display: block;
    text-align: center;
}

.box-upload .inner .desc em {
    width: 26px;
    height: 26px;
    background: var(--pink-cl);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 auto 5px;
    color: #fff;
}

/*crop-image-modal*/
.crop-image-modal {
	width: 860px;
}

.rcrop-wrapper img {
   width: 350px;
   height: 350px;
   object-fit: cover;
}

.image-wrapper {
	position: relative;
}

#custom-preview-wrapper {
	position: absolute;
	top: 0;
	right: 0;
}

.image-wrapper p {
	margin-bottom: 7px;
}

.rcrop-wrapper .rcrop-outer {
	background: #000;
}

.image-wrapper .action {
	margin-top: 15px;
}

@media (max-width: 576px) {
	.rcrop-wrapper img {
	   width: 300px;
	   height: 300px;
	   object-fit: cover;
	}

	#custom-preview-wrapper {
		position: static;
		top: 0;
		right: 0;
		margin-top: 20px;
	}

	.image-wrapper {
		text-align: center;
	}

	.image-wrapper .action ul {
		justify-content: center;
	}
}

.form-select-chosen.chosen-all .form-control,
.form-select-chosen.chosen-all {
	height: auto;
	min-height: 40px;
}

.form-select-chosen.chosen-all .chosen-container .chosen-choices {
	display: inherit;
	height: auto!important;
	min-height: 40px;
}

.form-select-chosen.chosen-all .chosen-container .chosen-choices li.search-choice {
	display: inline-flex;
	margin-top: 7px;
}

.form-select-chosen.chosen-all .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin-top: 10px;
}

.form-select-chosen.chosen-all .chosen-container {
	position: relative;
}

.form-select-chosen.chosen-all .chosen-container-multi .chosen-choices li.search-field {
	position: absolute;
    top: 0;
    left: 15px;
}

.form-select-chosen.chosen-all .chosen-container .chosen-choices li.search-choice {
	background: #EBF6EB;
	color: #31AA27;
	border-radius: 10px;
}

.form-select-chosen.chosen-all .chosen-choices li.search-choice .search-choice-close {
	top: 15px!important;
}

.form-permission .form-select-chosen {
	flex: 0 0 780px;
	max-width: 780px;
}

.form-permission .input-area > a {
	margin-left: 20px;
}

@media (max-width: 1440px) {
	.form-permission .form-select-chosen {
		flex: 0 0 500px;
		max-width: 500px;
	}
}

@media (max-width: 767px) {
	.form-permission .form-select-chosen {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.form-permission .input-area > a {
		margin-left: 0px;
		margin-top: 15px;
	}
}