.change-password {
	max-width: 520px;
	margin: 0 auto 25px;
}

.change-password h2 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px
}

.change-password .form-group {
	margin-bottom: 25px
}

.change-password .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}

.change-password .form-group > label * {
  color: #F76666;
}

.change-password .form-action li:not(:last-child) {
	margin-right: 8px;
}

.form-area {
	max-width: 510px;
	width: 100%;
	margin: 0 auto;
	padding: 60px 0;
}

.form-area .form-group {
	margin-bottom: 25px;
}

.form-area .form-group .label > label {
	font-weight: 600;
	margin-bottom: 5px;
	font-size: 16px;
	color: #3E4B5E;
}

.form-area .form-group .label > label span {
	color: var(--red-cl);
}

.form-area .form-group .forgot-password {
	color: var(--text-theme,#FF2458);
	font-weight: 600;
}

.form-area .form-group .input-area {
	position: relative;
}

.form-area .form-group .form-control {
	height: 60px;
	font-size: 16px;
}

.form-area .box-password {
	position: relative;
}

.form-area > button {
	width: 100%;
}

.form-area .text-guide {
	text-align: center;
	margin-bottom: 40px;
	color: #3E4B5E;
}

.form-area .text-guide > h3 {
	font-size: 32px;
	font-weight: 700;
}

.form-area .text-guide > p {
	font-size: 16px;
	
}

.form-action .btn-st1 {
	background: var(--buttonbgcolor-theme,#FF2458);
}

.form-action button {
	width: 100%;
	height: 45px;
}

.eyess {
	position: absolute;
	top: 20px;
	right: 15px;
	width: 20px;
	height: 20px;
	background-image: url("../images/eye-close.svg");
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer
}

.eyess.show {
   background-image: url("../images/eye-open.svg");
}
