.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.list-style-disc {
	list-style: disc!important
}
.table-block-row table tr td .rounded-0 {
  border-radius: 0 !important;
}
.block-ct.block-tab {
  margin-bottom: 24px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(28, 41, 100, 0.03);
  padding: 20px 30px!important;
}
.block-ct.block-tab {
  padding-bottom: 0!important;
  position: relative;
}
.tab-responsive .btn-prev,
.tab-responsive .btn-next {
  display: none;
}
.tab-responsive .btn-prev {
  position: absolute;
  left: 10px;
  top: 20px;
  transform: rotate(-180deg);
}
.tab-responsive .btn-next {
  position: absolute;
  right: 10px;
  top: 20px;
}
.tab-responsive ul li a:hover, .tab-responsive ul li a.active {
  color: var(--pink-cl);
}
.tab-responsive ul li a.active:after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--pink-cl);
  position: absolute;
  bottom: 0;
  left: 0;
}
.tab-responsive ul li a svg {
  margin-right: 8px;
}
.tab-responsive ul li a:hover svg path,
.tab-responsive ul li a.active svg path {
  fill: var(--pink-cl);
}
.tab-responsive::-webkit-scrollbar {
  height: 4px;
}

.tab-responsive::-webkit-scrollbar-thumb {
  background: #DCDCDC;
  border-radius: 20px;
}

#search-collapse svg *,
#search-expand svg * {
	transition: all .4s;
}

#search-expand button:hover svg path,
#search-collapse button:hover svg path {
	stroke: none;
	fill: var(--pink-cl);
}

@media (max-width: 1600px) {
  .tab-responsive .btn-prev,
  .tab-responsive .btn-next {
    display: inline-block;
  }
}
.box-responsive {
	overflow-x: auto;
    padding-bottom: 0;
}
.top-panel {
 	margin-bottom: 15px;
}
.top-panel .left-action .item:not(:last-child) {
  margin-right: 12px;
}
.top-panel .btn-action {
	height: 30px;
	border: 1px solid #3E4B5E;
	color: #3E4B5E;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
	transition: all .4s;
}
.top-panel .btn-action.active {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}
.top-panel .btn-action:hover,
.top-panel .btn-action:active {
	color: var(--pink-cl);
	border-color: var(--pink-cl);
	background: #FFE0E7;
}
.top-panel .btn-action:hover svg.has-stroke path,
.top-panel .btn-action.active svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}
.top-panel .box-right .item {
	margin-left: 15px;
}
.top-panel .page-number select {
	width: 80px;
	margin-left: 10px
}
.btn-extend {
	position: relative;
	z-index: 1;
	font-size: 0;
	height: 30px;
}
.btn-extend button {
	padding: 0;
	cursor: pointer;
}
.btn-extend .menu-extend {
	position: absolute;
	width: 150px;
	box-shadow: 0px 0px 30px 0px rgba(28, 41, 100, 0.15);
	background: #fff;
	top: calc(100% + 10px);
	right: 0;
	border-radius: 10px;
	display: none;
}
.btn-extend .menu-extend:after {
	content: '';
	width: 13px;
	height: 8px;
	background: url(../images/top-triangle.png) no-repeat;
	position: absolute;
	top: -7px;
	right: 10px;
}
.btn-extend .menu-extend ul li {
	margin: 0;
	padding: 0
}
.btn-extend .menu-extend ul li:not(:last-child) {
	border-bottom: 1px solid #E4E4EF;
}
.btn-extend .menu-extend ul li a {
	padding: 0 10px 0 15px;
	height: 40px;
	align-items: center;
}
.btn-extend .menu-extend ul li a * {
	transition: all .4s;
}
.btn-extend .menu-extend ul li a span.box-icon {
	flex: 0 0 12px;
	max-width: 12px;
	display: flex;
}
.btn-extend .menu-extend ul li a span.box-text {
	flex: 0 0 calc(100% - 12px);
	max-width: calc(100% - 12px);
	padding-left: 12px;
	font-size: 12px
}
.btn-extend .menu-extend ul li a:hover span.box-text {
	color: var(--pink-cl);
}

.btn-extend .menu-extend ul li a:hover svg path {
	fill: var(--pink-cl);
}

.btn-extend .menu-extend ul li a:hover svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}
.btn-extend .menu-extend .optgroup {
	font-size: 12px;
	height: 40px;
	background: rgba(240, 237, 255, 0.50);
	font-weight: 600;
	color: var(--main-cl);
	padding: 0 10px 0 15px
}

#search-collapse {
	display: none
}
.search-extend {
	display: none
}
.search-extend .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}
.search-extend .input-area {
	position: relative;
}
.search-extend .input-area .clear {
	position: absolute;
	right: 15px;
	top: 10px;
	display: none;
}
.search-extend .input-area .clear.active {
	display: inline-block;
}
.search-extend .form-control:focus {
	background: #fff;
	box-shadow: 0px 0px 0px 2px #1C2964;
}
.search-extend .box-date {
	position: relative;
}
.search-extend .box-date img {
	position: absolute;
	top: 12px;
	right: 15px;
}
.search-extend .form-action li:not(:last-child) {
	margin-right: 8px;
}
.search-extend .form-action button {
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 30px;
	border-radius: 8px;
	background: var(--pink-cl);
	font-size: 16px
}
.search-extend .form-action button.btn-cancel {
	border: 1px solid var(--gray-cl);
	background: none;
	color: rgba(62, 75, 94, 0.8);
}
.crawler-url-campaign .box-data-1 {
	width: 15px;
}
.crawler-url-campaign .box-data-2 {
	width: 150px
}
.crawler-url-campaign .box-data-3 {
	width: 170px;
}
.crawler-url-campaign .box-data-4 {
	width: 100px
}
.crawler-url-campaign .box-data-5 {
	width: 450px
}
.crawler-url-campaign .box-data-6 {
	width: 450px;
	word-break: break-all
}

.crawler-url-campaign .box-data-7 {
	width: 100px;
	word-break: break-all
}

.crawler-url-campaign .zIndex {
	z-index: 2;
	position: relative
}
.crawler-url-campaign .table-block-row.table-responsive table tbody tr.space {
	background-color: inherit;
}
.Search-Criteria-CV ul li {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 5px
}
.Search-Criteria-CV ul li strong, .Search-Criteria-CV ul li span {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.Search-Criteria-CV ul li span {
	padding-left: 10px
}

.outer-table {
	position: relative;
}

.outer-table .scroll-button {
	position: sticky;
	z-index: 1111;
	top: 50%;
	display: flex;
	justify-content: space-between;
	margin: 0 -20px 0 -25px;
	height: 0;
}

@media (max-width: 1200px) {
	.outer-table .scroll-button {
		justify-content: space-between;
		margin: 0;
	}
}