.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    color: white;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px dashed rgba(62, 75, 94, 0.20);
    background: #FBFAFF;
}

.inputfile + label em {
	width: 26px;
	height: 26px;
	background: var(--pink-cl);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 20px;
	margin: 0 auto;
}

.inputfile + label span {
	color: var(--main-cl);
	margin-top: 5px;
}

.block-upload {
	margin-bottom: 25px
}
.block-upload .box-upload {
	flex: 0 0 100px;
	max-width: 100px;
	margin-right: 15px
}

.block-upload .box-text {
	flex: 0 0 200px;
	max-width: 200px;
	padding-right: 30px;
}

.block-upload .box-text p {
	font-size: 12px;
	color: rgba(36, 40, 64, 0.70);
}

.list-uploaded .item {
	flex: 0 0 130px;
	max-width: 130px;
	position: relative;
}

.list-uploaded .item:not(:last-child) {
  margin-right: 20px;
}

.list-uploaded .item .thumb-img {
	padding-top: 0;
	height: 100px;
	position: relative;
}

.thumb-img img {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 8px;
}

.list-uploaded .item  > a {
	position: absolute;
	top: 0px;
	right: 6px;
}
.create-letter .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}
.create-letter .form-group > label * {
  color: #F76666;
}
.create-letter .form-action li:not(:last-child) {
	margin-right: 8px;
}
.letterTemplate_type img {
	width: 100%
}
.letterTemplate_type .item {
	-ms-flex: 0 0 200px;
	flex: 0 0 200px;
	max-width: 200px;
	margin-top: 10px;
}
.letterTemplate_type .item:not(:last-child) {
	margin-right: 60px;
}
.letterTemplate_type .letterTemplate_type_img {
	min-height: 300px;
	margin-top: 40px
}
.letterTemplate_type .item p {
	text-align: center;
	font-weight: 600
}
.create-letter .smartfield-label {
	margin-top: 25px;
	margin-bottom: 5px
}
.btn-link.hasBdrClr {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}
@media only screen and (max-width: 1024px) {
	.letterTemplate_type .item {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		margin-right: 0!important
	}
	.letterTemplate_type .letterTemplate_type_img {
		min-height: inherit;
	}
}
@media only screen and (max-width: 667px) {
	.letterTemplate_type .item {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media only screen and (max-width: 576px) {
	.block-upload .box-text {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0;
		margin-bottom: 15px
	}
}
@media only screen and (max-width: 575px) {
	.create-letter .smartfield-label {
		margin-top: 0
	}
}
@media only screen and (max-width: 480px) {
	.letterTemplate_type .item {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.letterTemplate_type .letterTemplate_type_img {
	  margin-top: 20px;
	}
}

.uploadImgLetter {
	border-radius: 8px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#avatar_img img {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 8px;
}

#email_banner_header img,#email_banner_footer img {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 8px;
}

label.error {
    clear: both;
    color: #FF0000 !important;
    font-size: 11px;
    padding: 2px 0!important;
    width: 100%!important;
    text-align: left!important;
}

/*modal mail template*/
.mail-temp-modal {
	width: 670px;
	border-radius: 8px;
    border-top: 3px solid var(--pink-cl);
}

.mail-temp-modal * {
	color: #000;
}

.mail-temp-modal .modal-header {
	padding: 30px 30px 0 30px;
	display: flex;
	justify-content: flex-end;
}

.mail-temp-modal .modal-body {
	padding-top: 0;
}

.mail-temp-modal .box-logo {
	border-bottom: 1px solid #8999AF;
	margin: 0 -10px;
	padding: 0 10px 15px;
}

.mail-temp-modal .box-banner .thumb-img {
	height: 185px;
	padding-top: 0;
}

.mail-temp-modal .box-banner .thumb-img,
.mail-temp-modal .box-banner .thumb-img * {
	border-radius: 20px;
}

.mail-temp-modal-2 .top-banner {
	margin-bottom: 15px;
}

.mail-temp-modal-2 .top-banner .thumb-img,
.mail-temp-modal-2 .top-banner .thumb-img * {
	border-radius: 0 0 20px 20px;
}

.mail-temp-modal .main-text .box-title h2 {
	font-weight: 600;
	font-size: 20px;
	color: #09589E;
}

.mail-temp-modal .main-text .box-title,
.mail-temp-modal .main-text .box-body,
.mail-temp-modal .main-text .box-body p,
.mail-temp-modal .main-text .box-footer,
.mail-temp-modal .bot-action {
	margin-bottom: 15px;
}

.mail-temp-modal .main-text .box-body ul {
	list-style-type: decimal;
	padding-left: 30px;
	margin-bottom: 15px;
}

.mail-temp-modal .main-text .box-footer * {
	display: block;
}

.mail-temp-modal .bot-action {
	text-align: center;
	border-radius: 8px;
	background: #FBFAFF;
	padding: 16px;
}

.mail-temp-modal .bot-action ul {
	margin-bottom: -10px;
}

.mail-temp-modal .bot-action ul li {
	margin-bottom: 10px;
}

.mail-temp-modal .bot-action ul li:not(:last-child) {
	margin-right: 30px;
}

.mail-temp-modal .bot-action button {
	color: #fff;
	width: 160px;
	font-size: 12px;
	padding: 0;
}

.mail-temp-modal .bot-action > p,
.mail-temp-modal p.legal {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}

.mail-temp-modal p.legal {
	margin: 0;
}

.mail-temp-modal-1 .box-logo,
.mail-temp-modal-3 .bot-banner,
.mail-temp-modal-4 .bot-banner,
.mail-temp-modal-3 .box-logo {
	margin-bottom: 15px;
}

@media (max-width: 767px) {
	.mail-temp-modal .bot-action ul li {
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.mail-temp-modal .bot-action ul li:not(:last-child) {
		margin-right: 0px;
	}

	.mail-temp-modal .bot-action ul li button {
		width: 100%;
	}
}

#ReviewLetter ul{
	list-style-type: disc;
	padding-left: 40px;
}

#ReviewLetter ol{
	list-style-type: decimal;
	padding-left: 40px;

}
#ReviewLetter i{
	font-style: italic;
}