.main-content > .wrapper {
  margin-bottom: 25px;
}

.section-1 {
	margin-bottom: 25px;
}

.section-1 .row-dt {
	margin-bottom: -25px
}

.section-1 .row-dt [class*="col-"] {
	margin-bottom: 25px;
}

.section-1 .row-dt .col-left {
    flex: 0 0 35%;
    max-width: 35%;
}

.section-1 .row-dt .col-right {
    flex: 0 0 65%;
    max-width: 65%;
    padding-left: 25px;
}

.section-1 .row-dt .col-right .bot-action {
	margin-top: 20px;
}

.section-1 .row-dt .col-right .bot-action > a,
.section-1 .row-dt .col-right .bot-action >  a *.
.section-2 .block-ct-1 .box-view-all  > a {
	transition: all .3s;
}

.section-1 .row-dt .col-right .bot-action a:hover,
.section-2 .block-ct-1 .box-view-all > a:hover {
	color: var(--pink-cl);
}

.section-1 .row-dt .col-right .bot-action > a:hover svg,
.section-2 .block-ct-1 .box-view-all > a:hover svg {
	stroke: var(--pink-cl);
	fill: none;
}

.section-1 .row-dt .col-right .bot-action button {
	background: var(--pink-cl);
	color: #fff;
	border-radius: 8px;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 0 15px;
}

.section-1 .row-dt .col-right .bot-action button a {
	color: #fff!important;
}

.section-1 .block-ct {
	height: 100%;
}

.report-area .banner {
	height: 275px;
	background: url(../images/bg-report.png) no-repeat;
	background-size: cover;
	border-radius: 10px;
	color: #fff;
	padding: 20px;
	position: relative;
	z-index: 0;
}

.report-area .banner h2 {
	font-size: 20px;
	font-weight: 600;
}

.report-detail {
	background: #fff;
	padding: 20px;
	margin-top: -155px;
}

.report-detail .box-report {
	padding: 20px 15px;
	border-radius: 8px;
	position: relative;
	z-index: 0;
	height: 100%;
}

.report-detail .box-report > img {
	margin-bottom: 5px;
}

.report-detail .box-report > h3 {
	font-weight: 700;
	font-size: 15px;
	margin-bottom: 10px;
}

.report-detail .box-report ul li {
	display: flex;
	justify-content: space-between;
}

.report-detail .box-report ul li:not(:last-child) {
	margin-bottom: 5px;
}

.report-detail .box-report ul li span {
	color: var(--gray-cl);;
	position: relative;
	padding-left: 12px;
}

.report-detail .box-report ul li span:after {
	content: '';
	width: 4px;
	height: 4px;
	background: var(--gray-cl);;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.report-detail .box-report ul li strong {
	color: #3E4B5E;
	font-weight: 700;
}

.report-detail .box-report.box-1 {
	background: #FFFAE7;
}

.report-detail .box-report.box-1 h3 {
	color: var(--yellow-cl);
}

.report-detail .box-report.box-2 {
	background: #F1FAFF;
}

.report-detail .box-report.box-2 h3 {
	color: var(--blue-cl);
}

.report-detail .box-report.box-3 {
	background: #FFF5F8;
}

.report-detail .box-report.box-3 h3 {
	color: #FF2458;
}

.report-detail .box-report.box-4 {
	background: rgba(232, 255, 243, 0.7);
}

.report-detail .box-report.box-4 h3 {
	color: var(--green-cl);
}

.block-ct {
	border-radius: 8px;
	background: #FFF;
	box-shadow: 0px 0px 15px 0px rgba(28, 41, 100, 0.03);
	padding: 20px 25px;
	margin-bottom: 0;
}

.block-ct .block-title {
	margin-bottom: 20px;
}

.block-ct .block-title .inner {
	margin-bottom: -10px;
}

.block-ct .block-title .inner > * {
	margin-bottom: 10px;
}

.block-ct .block-title h2 {
	font-size: 20px;
	font-weight: 600;
}

.block-ct .block-title .right-action ul {
	margin-bottom: -10px;
}

.block-ct .block-title .right-action ul li {
	margin-bottom: 10px;
}

.block-ct .block-title .right-action ul li:not(:last-child) {
	margin-right: 15px;
}

.block-ct .block-title .right-action ul li a {
	border-radius: 32px;
	background: #FBFAFF;
	padding: 0 8px;
	border: 1px solid transparent;
	transition: all .4s;
	height: 24px;
	display: flex;
	align-items: center;
}

.block-ct .block-title .right-action ul li a svg * {
	transition: all .4s;
}

.block-ct .block-title .right-action ul li a:hover,
.block-ct .block-title .right-action ul li.active a {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
	background: #FFE0E7;
}

.block-ct .block-title .right-action ul li a:hover svg path,
.block-ct .block-title .right-action ul li.active a svg path {
	fill: var(--pink-cl);
}

.block-ct .block-title .right-action ul li a:hover svg.has-stroke path,
.block-ct .block-title .right-action ul li.active a svg.has-stroke path {
	stroke: var(--pink-cl);
}

.block-ct .block-title .custom-select select {
	width: 250px;
}

.block-ct .block-title .form-select-chosen {
	width: 250px;
	border-color: #3E4B5E;
}

.section-2 .block-ct-2 .block-title .form-select-chosen {
	width: 350px;
}

.chosen-container .chosen-results {
	max-height: 150px;
	margin-bottom: 0!important;
}

.box-view-all {
	margin-top: 18px;
	display: flex;
	justify-content: flex-end;
}

.table-responsive {
	overflow-x: inherit;
}

.table-custom .row-title {
	border-radius: 10px 10px 0 0;
	background: #F0EDFF;
	border: 1px solid #E4E4EF;
}

.table-custom .row-title .box-title {
	padding: 20px 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.table-custom .row-title h3 {
	font-weight: 600;
	font-size: 15px;
}

.table-custom .row-data {
	border: 1px solid #E4E4EF;
	margin-top: -1px;
}

.table-custom .row-data .box-data {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.table-custom .row-data .box-data:not(:last-child),
.table-custom .row-title .box-title:not(:last-child) {
	border-right: 1px solid #E4E4EF;
}

.table-body .row-data:last-child {
	border-radius: 0 0 10px 10px;
}

.table-custom-1 .status {
	padding: 15px;
	border-radius: 8px;
}

.table-custom-1 .status.status-1 {
	background: #EDEDFE;
	color: #605DEC;
}

.table-custom-1 .status.status-2 {
	background: #EBF6EB;
	color: #31AA27;
}

.table-custom-3 a {
	transition: all .4s;
}

.table-custom-3 a:hover {
	color: var(--pink-cl);
}

.section-2 .block-ct {
	margin-bottom: 25px;
}

.section-2 .block-ct-1 .table-body {
	height: 340px;
	overflow-y: auto;
	margin-right: -4px;
}

.section-2 .block-ct-1 .table-body .data-detail > * {
	display: block;
}

.section-2 .block-ct-2 .table-body {
	height: 305px;
	overflow-y: auto;
	margin-right: -4px;
}

.section-2 .row-dt {
	margin-bottom: -25px;
}

.section-2 .row-dt .col-right {
	flex: 0 0 500px;
	max-width: 500px;
}

.section-2 .row-dt .col-left {
	flex: 0 0 calc(100% - 500px);
	max-width: calc(100% - 500px);
	padding-right: 25px;
}

.section-2 .block-chart-1 .chart-notes  {
	margin-top: 15px;
}

.section-2 .block-chart-1 .chart-notes ul {
	margin: 0 -10px -12px;
}

.section-2 .block-chart-1 .chart-notes ul li {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 0 10px;
	margin-bottom: 12px;
}

.section-2 .block-chart-1 .chart-notes ul li span,
.section-2 .block-chart-2 .chart-notes ul li span {
	position: relative;
	padding-left: 24px;
}

.section-2 .block-chart-1 .chart-notes ul li span:after,
.section-2 .block-chart-2 .chart-notes ul li span:after {
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: 5px;
}

.menu-chart {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	display: inline-block;
	padding: 0px !important;
	
}

.menu-chart-2 {
	padding: 0px !important;
}

.section-2 .block-chart-1 .chart-notes ul li span.label-1:after {
	background: #1C2964;
}

.section-2 .block-chart-1 .chart-notes ul li span.label-2:after {
	background: #FF2458;
}

.section-2 .block-chart-1 .chart-notes ul li span.label-3:after {
	background: #FFE0E7;
}

.section-2 .block-chart-1 .chart-notes ul li span.label-4:after {
	background: #E4E7E9
}

.section-2 .block-chart-1 .chart-notes ul li span.label-5:after {
	background: #09589E;
}

.section-2 .block-chart-2 .main-chart {
	flex: 0 0 200px;
	max-width: 200px;
	height: 200px;
	position: relative;
}

.section-2 .block-chart-2 .main-chart .box-count {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
}

.section-2 .block-chart-2 .main-chart .box-count .inner * {
	display: block;
	text-align: center;
	line-height: 1.2em;
}

.section-2 .block-chart-2 .main-chart .box-count .inner span {
	font-size: 15px;
}

.section-2 .block-chart-2 .main-chart .box-count .inner strong {
	font-size: 22px;
}

.section-2 .block-chart-2 .chart-notes {
	flex: 0 0 calc(100% - 200px);
	max-width: calc(100% - 200px);
	padding-left: 70px;
}

.section-2 .block-chart-2 .chart-notes ul li span.label-1:after {
	background: #1C2964;
}

.section-2 .block-chart-2 .chart-notes em {
	display: block;
	padding-left: 24px;
	font-size: 12px;
	color: var(--gray-cl);
}

.section-2 .block-chart-2 .chart-notes ul li:not(:last-child) {
	margin-bottom: 8px;
}



.list-recent .inner {
	height: 150px;
	overflow-y: auto;
	padding-right: 15px;
}

.list-recent .inner .item {
	border-top: 1px dashed #E4E4EF;
	margin-top: 10px;
	padding-top: 10px;
}

.list-recent .inner .item span {
	color: var(--gray-cl);
}

.tabs-container .tab-content {
  display: none;
}

.tabs-container .tab-content.active {
  display: block;
}

.tableFixHead { overflow-y: auto;}
.tableFixHead thead th { position: sticky; top: 0 }
.tableFixHead.table-responsive table tr:first-child th:first-child,
.tableFixHead.table-responsive table tr:first-child th:last-child{
	border-radius: 0
}

.tableFixHead thead tr th:first-child {
	border-radius: 8px 0 0 0!important;
}

.tableFixHead thead tr th:last-child {
	border-radius: 0 8px 0 0!important;
}

.table-custom-1 {
	height: 475px;
}

.tableFixHead tr td {
	vertical-align: middle;
}

.table-custom-2 {
	height: 428px;
}

.table-custom-3 {
	height: 345px;
}

@media (max-width: 1800px) {
	.section-1 .row-dt .col-left {
	    flex: 0 0 45%;
	    max-width: 45%;
	}

	.section-1 .row-dt .col-right {
	    flex: 0 0 55%;
	    max-width: 55%;
	    padding-left: 25px;
	}

	.table-custom-1 .status br {
		display: none;
	}

	.page-content:not(.page-content-active) .section-2 .block-ct-1 .block-title > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.page-content:not(.page-content-active) .section-2 .block-ct-2 .table-body {
		height: 270px;
	}

	.page-content:not(.page-content-active) .section-2 .block-ct-1 .block-title .inner > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.table-custom-3 {
		height: 310px;
	}

	.page-content-active .table-custom-3 {
		height: 345px;
	}
}

@media (max-width: 1439px) {
	.section-1 .row-dt .col-left,
	.section-1 .row-dt .col-right {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}

	.section-2 .row-dt .col-left,
	.section-2 .row-dt .col-right {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}

}

@media (max-width: 576px) {
	.block-ct {
		padding: 15px;
	}

	.section-1 .row-dt [class*="col-"] {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.section-2 .block-chart-2 .main-chart {
		flex: 0 0 100%;
		max-width: 100%;
		display: flex;
		justify-content: center;
	}

	.section-2 .block-chart-2 .chart-notes {
		padding-left: 0;
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 20px;
	}

	.section-2 .block-chart-2 .chart-notes ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	.section-2 .block-chart-2 .chart-notes ul li,
	.section-2 .block-chart-1 .chart-notes ul li {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 10px;
	}

	.table-custom-1 .box-data-1 {
		width: 190px;
	}

	.table-custom-1 .box-data-2 {
		width: 100px;
	}

	.table-custom-1 .box-data-3 {
		width: 150px;
	}

	.table-custom-2 .box-data-1 {
		width: 190px;
	}

	.table-custom-2 .box-data-2,
	.table-custom-2 .box-data-3 {
		width: 120px;
	}

	.table-custom-2 .box-data-4 {
		width: 80px;
	}

	.table-custom-3 .box-data-2,
	.table-custom-3 .box-data-4,
	.table-custom-3 .box-data-5 {
		width: 100px;
	}

	.table-custom-3 .box-data-3 {
		width: 150px;
	}

	.table-custom-3 .box-data-1 {
		width: 180px;
	}

	.section-2 .block-ct-2 .block-title .form-select-chosen {
		width: 300px;
	}
}


