.department-management-add-new {
  margin-bottom: 25px;
}

.department-info {
	margin-bottom: 40px;
}

.department-info .list-radio .item {
	height: 40px;
	display: flex;
	align-items: center;
}

.department-info .list-radio .item:not(:last-child) {
	margin-right: 30px;
}

.block-ct .form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
}

.block-ct .form-group:not(:last-child) {
	margin-bottom: 20px;
}

.block-upload {
	margin-bottom: 40px;
}

.block-upload .box-left {
  flex: 0 0 320px;
  max-width: 320px;
}

.block-upload .box-left p {
  color: rgba(36, 40, 64, 0.70);
  font-size: 12px;
}

.block-upload .box-text {
  flex: 0 0 190px;
  max-width: 190px;
}

.block-upload .box-upload {
  flex: 0 0 calc(100% - 190px);
  max-width: calc(100% - 190px);
  padding-left: 30px;
}

.block-upload .box-right {
  flex: 0 0 calc(100% - 320px);
  max-width: calc(100% - 320px);
  padding-left: 16px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    color: white;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px dashed rgba(62, 75, 94, 0.20);
    background: #FBFAFF;
}

.inputfile + label em {
  width: 26px;
  height: 26px;
  background: var(--pink-cl);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 auto;
}

.inputfile + label span {
  color: var(--main-cl);
  margin-top: 5px;
}

.list-uploaded .item {
    flex: 0 0 130px;
    max-width: 130px;
    margin-bottom: 20px;
    position: relative;
}

.list-uploaded .item .thumb-img {
    padding-top: 0;
    height: 100px;
    position: relative;
    border-radius: 5px;
	border: 1px solid #F0F0F0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-uploaded .item .thumb-img img {
	max-width: 100%;
	max-height: 100%;
	padding: 10px;
}

.list-uploaded {
  margin-bottom: -20px;
}

.list-uploaded .item > a {
    position: absolute;
    top: 0px;
    right: 6px;
}

.box-ckb .container-ckb {
	padding-left: 35px;
}

@media (max-width: 1600px) {
	.department-info .row > [class*="col-"] {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
}

@media (max-width: 992px) {
	.department-info .row > [class*="col-"] {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (max-width: 576px) {
  .block-upload .box-left,
  .block-upload .box-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .block-upload .box-left {
  	margin-bottom: 10px;
  }
  .block-upload .box-upload {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
	}

	.department-info .row > [class*="col-"] {
		flex: 0 0 100%;
		max-width: 100%;
	}
}