.posRelative {
    position: relative;
}

.temFlex {
    display: flex;
}

.coverCVpage {
    margin-top: 0;
}


/* .cv-template-wrapper {
    height: 100%;
} */

.cv-template-1 .left-col {
    height: auto;
}


/* .cv-template-1 .right-col {
    height: 100%;
    max-width: calc(100% - 220px);
    background: #ffffff;
} */

.cv-template-1 .left-col header,
.cv-template-1 .right-col header {
    position: static !important;
    background: none;
}
ul.personal li, ul.contact li {
    display: flex
}
ul.personal li .annou, ul.contact li .annou {
    line-height: normal 
}
.cv-template-wrapper .coverCVpage h2 {
    line-height: normal;
}

.cv-template-2 header {
    position: static !important;
    background: none;
}

.cv-template-2 .left-col {
    background: #ffffff;
}
.cv-template-2 ul.personal li, .cv-template-2 ul.contact li { display: block }
.cv-template-3 header ul.contact li:last-child {
    margin-right: 0
}

.cv-template-3 header {
    position: static !important;
    background: none;
}

.cv-template-4 header {
    position: static !important;
    background: none
}

.cv-template-4 .left-col header {
    height: 250px;
}

.cv-template-4 .left-col ul.contact .fa {
    border-radius: 28px;
    -webkit-box-radius: 28px;
    -moz-box-radius: 28px
}


/* .cv-template-4 .left-col {
    float: left;
    width: 33.3333%
}

.cv-template-4 .right-col {
    float: left;
    width: 66.6667%
} */

.cv-template-4 .right-col ul.personal .annou {
    float: left;
    width: 340px
}


/* .cv-template-4 .bgtf {
    top: -115px;
} */

.cv-template-5 header {
    position: initial !important
}
.cv-template-5 label { line-height: normal }
.cv-template-5 h2 { white-space: normal }

/* .cv-template-5 header{
    padding: 22px 0 0 45px;
} */

.col-xs-5 {
    width: 41.66666667%;
    float: left;
}

.col-xs-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-7 {
    width: 58.33333333%;
    float: left;
}

.col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.cv-template-5 header {
    height: 270px;
}

.cv-template-6 .top {
    min-height: 319px;
}

.cv-template-7 .avatar {
    max-width: 210px;
}

.cv-template-7 .name h2 {
    padding-bottom: 10px;
}

.cv-template-wrapper .col-sm-6 {
    float: left;
}

.cv-template-1 header h2 {
    line-height: 1.5;
}

.my-profile-modal .cv-template-wrapper {
    /* height: 850px; */
}

.tools-schemes h2 {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.cv-template-6 h2 {
    line-height: normal;
}

.text-center {
    text-align: center;
}

.cv-template-14 .col-sm-5 {
    float: left;
    width: 41.66666667%;
}

.cv-template-14 .col-sm-7 {
    float: left;
    width: 58.33333333%;
}

.cv-template-15 .coverCVpage .name h2 {
    font-size: 30px;
}

.cv-template-15 .col-sm-1,
.cv-template-15 .col-sm-2,
.cv-template-15 .col-sm-3,
.cv-template-15 .col-sm-4,
.cv-template-15 .col-sm-5,
.cv-template-15 .col-sm-6,
.cv-template-15 .col-sm-7,
.cv-template-15 .col-sm-8,
.cv-template-15 .col-sm-9,
.cv-template-15 .col-sm-10,
.cv-template-15 .col-sm-11,
.cv-template-15 .col-sm-12 {
    float: left;
}

.cv-template-1 .right-col {
    height: 100%;
}

.cv-template-12 .coverCVpage .name .posAbsolute {
    position: absolute;
}

.cv-template-2 header h2,
.cv-template-3 header h2,
.cv-template-5 header h2,
.cv-template-7 .name h2,
.cv-template-10 h2,
.cv-template-12 h2,
.cv-template-13 h2,
.cv-template-15 h2 {
    line-height: normal;
}

.cv-template-2 .text-right {
    text-align: right;
}

.cv-mode-finish .coverCVpage {
    margin: 15px 0;
}

.main-topcv-completecv .main-slide-success .cv-mode-finish .editCVtemplate-wrapper>.col-xs-12 {
    float: none;
}

.main-topcv-completecv .main-slide-success .cv-mode-finish .editCVtemplate-wrapper .cv-template-wrapper {
    float: none;
}

.cv-template-4 .coverCVpage .right-col header:before {
    display: none;
}

.cv-template-7 {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
}

/* --------- */
@media screen and (max-width: 576px){
    .change-cv-template-wrap .col-template .main-template{
        zoom: 1;
        max-width: 100%;
    }
    .cv-template-1 .left-col header, .cv-template-1 .right-col header{
        height: auto;
    }
    .cv-template-1 h3, .cv-template-2 h3, .cv-template-3 h3, .cv-template-4 h3, .cv-template-5 h3, .cv-template-6 h3, .cv-template-7 h3, .cv-template-8 h3, .cv-template-9 h3, .cv-template-10 h3, .cv-template-11 h3, .cv-template-12 h3, .cv-template-13 h3, .cv-template-14 h3, .cv-template-15 h3{
        line-height: 1.3;
    }
    .my-profile-modal{
        zoom: normal;
    }
    /* .cv-template-1.clrBlueYellow .coverCVpage table.table-wrapper{
        zoom: 0.6;
    } */
    .my-profile-modal .main-profile.main-scroll-success .cv-template-wrapper > .col-xs-12{
        padding: 0;
    }
    .cv-mode-finish .editCVtemplate-wrapper > .col-xs-12{
        padding: 0 10px;
        background: #ffffff;

    }
    .my-profile-modal .main-profile.main-scroll-success .cv-template-wrapper{
        zoom: normal;
    }
    .my-profile-modal .main-profile .view-template-wrap .cv-mode-finish{
        zoom: 0.6;
    }
    .cv-template-1 .coverCVpage table.table-wrapper{
        zoom: 0.6;
    }
    .cv-template-2 .coverCVpage table.table-wrapper, .cv-template-3 .coverCVpage table.table-wrapper, .cv-template-11 .coverCVpage table.table-wrapper, .cv-template-12 .coverCVpage table.table-wrapper, .cv-template-13 .coverCVpage table.table-wrapper, .cv-template-14 .coverCVpage table.table-wrapper, .cv-template-15 .coverCVpage table.table-wrapper{
        zoom: 0.6;
    }
    .cv-template-3 header{
        height: auto;
    }
}