.box-error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-error .inner strong {
  display: block;
  text-align: center;
  font-size: 32px;
  color: var(--pink-cl);
  margin-bottom: 20px;
}

.box-error .inner img {
  max-width: 100%;
  max-height: calc(100% - 50px);
}

@media (max-width: 1600px) {
  .box-error .inner img {
    max-width: 450px;
  }
}

@media (max-width: 1200px) {
  .box-error {
    padding: 10%;
  }
}