.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.content-fck { line-height: 1.5!important; font-size: 14px; word-wrap: break-word }
.content-fck ul { list-style: inherit!important }
.content-fck ul li { list-style: disc; padding: 0!important }
.content-fck ul li:after { display: none }
.content-fck ul li, .content-fck ol li { margin-bottom: 10px!important }
.content-fck ul, .content-fck ol { padding-left: 15px!important }
img {
  max-width: 100%;
  height: auto;
}
.faq {
	max-width: 1024px;
	margin: 0 auto
}
.faq-form form {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.faq-form .fld {
	text-align: right!important
}
.faq-form .btn-search {
	width: 100%
}
@media only screen and (max-width: 767px) {
	.faq-form form {
		display: block
	}
	.faq-form .fld {
		text-align: center!important;
	}
	.faq-form .fld:not(:last-child) {
		margin-bottom: 15px;
	}
}
.employer-faq .faq2__thongtin--title {
	font-weight: 600;
	line-height: normal;
	margin-bottom: 10px
}
.employer-faq .item {
	display: none;
	margin-bottom: 5px;
	padding-left: 25px;
	position: relative
}
.employer-faq .item a:hover {
	color: var(--pink-cl);
}
.employer-faq .item:before {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 16px;
	height: 16px;
	background: url("../images/arrow-circle-pink.svg") no-repeat;
	background-size: 100%
}
.employer-faq .showmore, .employer-faq .showless {
	display: none;
	color: var(--pink-cl);
	margin-top: 10px
}
.employer-faq .item:first-child,
.employer-faq .item:nth-child(2),
.employer-faq .item:nth-child(3),
.employer-faq .showmore.active,
.employer-faq .showless.active,
.employer-faq .item.active {
	 display:-webkit-box;
	 display:-ms-flexbox;
	 display:flex;
}
.employer-faq .title-faq--detail {
	font-size: 20px;
	font-weight: 600;
	line-height: 25px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #E4E4EF;
	text-align: center;
	color: var(--pink-cl);
}
