.wrapper {
	max-width: 650px;
	margin: 0 auto;
	width: 100%;
}

.form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
	font-size: 12px;
}

.block-ct .form-group:not(:last-child) {
	margin-bottom: 25px;
}

.block-ct h3 {
	font-weight: 600;
	margin-bottom: 12px;
}

.drag-field li {
	border-radius: 8px;
	border: 1px solid #E4E4EF;
	background: #FFF;
	box-shadow: 0px 0px 15px 0px rgba(28, 41, 100, 0.03);
	padding: 15px 20px;
	position: relative;
}

.drag-field li > label {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
	max-width: calc(100% - 60px);
}

.drag-field .box-ckb > span {
	padding-left: 30px;
}

.drag-field li > span,
.drag-field li > a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.drag-field li > span {
	right: 20px;
}

.drag-field li > a {
	right: 50px;
}

.drag-field li.inactive > a {
	display: none;
}

.drag-field li.inactive .box-ckb > span,
.drag-field li.inactive > label {
	color: #C4CFDD;
}

.drag-field li {
	margin-bottom: 12px;
}

.form-action {
	margin-top: 30px;
}

.form-action li:not(:last-child) {
	margin-right: 15px;
	
}

