.find-user {
	margin-bottom: 25px;
}

.top-search {
	border-radius: 8px;
	background: #252C64;
	box-shadow: 0px 0px 15px 0px rgba(28, 41, 100, 0.03);
	color: #fff;
	padding: 30px 0;
	margin-bottom: 25px;
	position: relative;
	z-index: 2;
}

.top-search .top-panel {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.top-search .top-panel strong,
.top-search .top-panel ul li:not(:last-child) {
	margin-right: 30px;
}

.top-search .top-panel ul li a {
	color: #FFB400;
	transition: all .4s;
	font-weight: 600;
}

.top-search .top-panel ul li a:hover,
.top-search .top-panel ul li a.active {
	color: var(--pink-cl);
}

.top-search .top-panel .inner {
	margin-bottom: -10px;
}

.top-search .top-panel .inner > * {
	margin-bottom: 10px;
}

.top-search > * {
	padding: 0 40px;
}

.top-search .main-panel {
	margin-bottom: 25px;
}

.top-search .main-panel .search-action {
	flex: 0 0 130px;
	max-width: 130px;
}

.top-search .main-panel .search-action button {
	padding: 0;
	width: 100%;
	margin-top: 22px;
}

.top-search .main-panel .search-input {
	flex: 0 0 calc(100% - 130px);
	max-width: calc(100% - 130px);
	padding-right: 15px;
}

.top-search .main-panel .search-input .row {
	margin: 0 -7.5px -20px;
}

.top-search .main-panel .search-input .row [class*="col-"] {
	padding: 0 7.5px;
	margin-bottom: 20px;
}

.top-search .main-panel .search-input .form-group > label,
.box-label > label {
	font-weight: 700;
	margin-bottom: 5px;
}

.top-search .bot-panel .list-radio .item:not(:last-child) {
	margin-right: 10px;	
}

.top-search .bot-panel .inner {
	margin-bottom: -15px;
}

.top-search .bot-panel .inner > * {
	margin-bottom: 15px;
}

.top-search .form-control:focus {
    box-shadow: 0px 0px 0px 2px #8389A9; 
}

.top-search .form-select-chosen:focus-within {
	box-shadow: 0px 0px 0px 2px #8389A9;
}

.search-filter-area {
	background: #fff;
	border-radius: 8px;
	background: #FFF;
	box-shadow: 0px 0px 15px 0px rgba(28, 41, 100, 0.03);
	padding: 30px;
	margin-bottom: 25px;
}

.search-filter-area .form-group > label {
	font-weight: 600;
    margin-bottom: 5px;
}

.search-filter-area .row-sm,
.search-filter-area .row-sm [class*="col-"]  {
    margin-bottom: 0;
}

.search-filter-area .form-action {
	margin-top: 20px;
}

.select-filter {
	margin-right: 200px;
	margin-bottom: -20px;
	padding-bottom: 15px;
}

.select-filter .col-select {
	flex: 0 0 25%;
	max-width: 25%;
	padding-right: 15px;
	margin-bottom: 20px;
}

.select-filter .col-select h3 {
	font-weight: 600;
	margin-bottom: 10px;
}

.select-filter .col-select .container-ckb {
	padding-left: 30px;
}

.select-filter .list-ckb .box-ckb:not(:last-child) {
	margin-bottom: 15px;
}

.select-filter .list-sp .box-ckb {
	width: 150px;
}

.select-filter .list-ckb.list-sp .box-ckb {
	margin-bottom: 15px;
}

.search-filter-area {
	display: none;
}

.btn-open-search span {
	color: #fff;
}

.btn-open-search span.shorten,
.btn-open-search.active .expand {
	display: none;
}

.btn-open-search.active span.shorten {
	display: inline-flex;
}

.btn-open-search svg {
	transition: all .4s;
}

.btn-open-search.active svg {
	transform: rotate(90deg);
}

.statistic {
	margin-top: 40px;
}

.statistic > p {
	margin-bottom: 10px;
}

.statistic > span {
	margin-bottom: 40px;
}

.statistic .inner .box-left {
	flex: 0 0 430px;
	max-width: 430px;
}

.statistic .inner .box-right {
	flex: 0 0 calc(100% - 430px);
	max-width: calc(100% - 430px);
	padding-left: 35px;
}

.statistic .inner .box-right img {
	width: 100%;
	height: 580px;
}

.statistic .table-responsive table tr th {
	padding: 15px;
}

.statistic .table-responsive table tr td {
	padding: 9px 15px;
}

.statistic .table-block-row table tr.space td {
	padding: 6px 0;
}

.statistic .view-all {
	text-align: center;
}

.statistic .table-responsive table tr td:first-child {
	width: 30px;
}

.statistic .table-responsive table tr td:last-child {
	width: 150px;
}

.statistic .table-responsive table tr th:last-child h3 {
	text-align: right;
}

.statistic .table-responsive .box-data-3 {
	width: 150px;
	text-align: right;
}

.statistic .table-responsive .box-data-3 .inner {
	justify-content: flex-end;
}

.statistic .box-right .bot-action {
	margin-top: 5px;
}

.statistic .box-right .bot-action a {
	color: var(--blue-cl);
	font-weight: 600;
}

.statistic .box-right .bot-action ul li:not(:last-child) {
	margin-right: 10px;
	padding-right: 10px;
}

.statistic .box-right .bot-action ul li {
	position: relative;
}

.statistic .box-right .bot-action ul li:after {
	content: '';
	width: 1px;
	height: 15px;
	background: var(--main-cl);
	position: absolute;
	top: 3px;
	right: 0;
}
 
@media (max-width: 1600px) {
	.search-filter-area > .row > [class*="col-"] {
	    flex: 0 0 33.333%;
	    max-width: 33.333%;
	}

	.select-filter {
		margin-right: 0;
	}
}

@media (max-width: 1430px) {
	.select-filter .col-select {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.search-filter-area > .row > [class*="col-"] {
	    flex: 0 0 50%;
	    max-width: 50%;
	}
}

@media (max-width: 992px) {
	.top-search .main-panel .search-input {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0;
	}

	.top-search {
		padding: 20px 0;
	}

	.top-search > * {
		padding: 0 20px;
	}

	.search-filter-area {
		padding: 20px;
	}

	.statistic .inner .box-left,
	.statistic .inner .box-right {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}

	.statistic .inner .box-left {
		margin-bottom: 20px;
	}
}

@media (max-width: 767px) {
	.select-filter .col-select,
	.top-search .main-panel .search-input .row [class*="col-"] {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.search-filter-area > .row > [class*="col-"] {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.top-search .top-panel strong, 
	.top-search .top-panel ul li:not(:last-child) {
		margin-right: 20px;
	}
}

@media (max-width: 576px) {
	.top-search .bot-panel .inner .box-left > *,
	.top-search .bot-panel .inner .box-left .list-radio .item {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.top-search .bot-panel .inner .box-left .list-radio .item {
		margin-top: 10px;
	}
}

/*find-user-result*/
.top-panel .btn-action {
    height: 30px;
    border: 1px solid #3E4B5E;
    color: #3E4B5E;
    background: #fff;
    border-radius: 8px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
}

.top-panel .left-action .inner .item:not(:last-child) {
    margin-right: 8px;
}

.top-panel .left-action select {
    color: #3E4B5E;
    font-weight: 600;
}

.top-panel {
	margin-bottom: 10px;
}

.top-panel .btn-action:hover, 
.top-panel .btn-action:active {
    color: var(--pink-cl);
    border-color: var(--pink-cl);
    background: #FFE0E7;
}

.top-panel .btn-action svg * {
	transition: all .4s;
}

.top-panel .btn-action:hover svg path {
	fill: var(--pink-cl);
}

.top-panel .btn-action:hover svg.has-stroke path, 
.top-panel .btn-action.active svg.has-stroke path {
    stroke: var(--pink-cl);
    fill: none;
}

.find-user-result .block-ct.block-tab,
.find-user-locked .block-ct.block-tab {
	padding: 20px 30px 10px;
}

.find-user-result .tab-responsive ul,
.find-user-locked .tab-responsive ul {
	padding-bottom: 10px;
}

.find-user-result .table-responsive .box-data-1 {
	width: 20px;
}

.find-user-result .table-responsive .box-data-2 {
	width: 500px;
}

.find-user-result .table-responsive .box-data-3 {
	width: 350px;
}

.find-user-result .table-responsive .box-data-4 {
	width: 420px;
}

.find-user-result .table-responsive .box-data-5 {
	display: flex;
	justify-content: flex-end;
}

.find-user-result .table-responsive .box-data-2 .inner .box-img {
    flex: 0 0 42px;
    max-width: 42px;
}

.find-user-result .table-responsive .box-data-2 .inner .box-text {
    flex: 0 0 calc(100% - 42px);
    max-width: calc(100% - 42px);
    padding-left: 15px;
    position: relative;
}

.find-user-result .table-responsive .box-data-2 .inner .box-text > * {
	margin-bottom: 3px;
}

.find-user-result .table-responsive .box-data-2 .inner .box-text h5 span {
	font-weight: normal;
	margin-left: 5px;
	color: var(--pink-cl);
}

.find-user-result .table-responsive .box-data-2 .inner .box-text ul {
	margin-top: 8px;
	margin-bottom: 8px;
}

.find-user-result .table-responsive .box-data-2 .inner .box-text ul li:not(:last-child) {
	margin-right: 7px;
}

.find-user-result .table-responsive .box-data-3 .list-item .item:not(:last-child) {
	margin-bottom: 7px;
}

.find-user-result .table-responsive .box-data-3 .list-item .item strong {
	flex: 0 0 110px;
	max-width: 110px;
}

.find-user-result .table-responsive .box-data-3 .list-item .item span {
	flex: 0 0 calc(100% - 110px);
	max-width: calc(100% - 110px);
}

.find-user-result .table-responsive th .container-ckb,
.find-user-locked .table-responsive th .container-ckb {
	margin-top: -11px;
}

.top-panel .box-right {
	justify-content: flex-end;
}

.page-number select {
	background-color: inherit!important;
}

@media (max-width: 1365px) {
	.find-user-locked .box-data-1 {
		width: 40px;
	}

	.find-user-locked .box-data-2,
	.find-user-locked .box-data-3,
	.find-user-locked .box-data-4 {
		width: 300px;
	}
}

@media (max-width: 1200px) {
	.find-user-result .top-panel > * {
	    flex: 0 0 100%!important;
	    max-width: 100%!important;
	}
}

@media (max-width: 992px) {
	.find-user-result .top-panel .left-action {
	    margin-right: 0;
	    position: relative;
	    padding-right: 50px;
	}

	.find-user-result .top-panel .btn-extend {
	    position: absolute;
	    top: 0;
	   right: 0;
	} 
}

.find-user-result .table-block-row .btn-extend .menu-extend.w-150 {
	width: 170px;
}

.find-user-result .top-panel .custom-select select {
	height: 30px;
}

.find-user-result .top-panel .custom-select:after {
	top: 12px;
}

.note-management-modal.fancybox-content {
	width: 600px;
}

.clock-info-modal {
	width: 530px;
}

.clock-info-modal .table-responsive table tr th:first-child, 
.clock-info-modal .table-responsive table tr td:first-child {
	border-left: 0;
}

.clock-info-modal .table-responsive table tr th, .clock-info-modal .table-responsive table tr td {
	border-right: 0;
}

/*search-guide*/
.search-guide {
	margin-left: 5px;
}

.search-guide * {
	color: var(--main-cl);
}

.search-guide > a {
	color: #fff;
	font-weight: 600;
	display: inline-flex;
}

.search-guide .box-detail {
	position: absolute;
	top: 32px;
	left: 30px;
	width: 715px;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 0px 30px 0px rgba(62, 75, 94, 0.20);
	padding: 20px 0;
	background: #fff;
	z-index: 1;
	display: none;
}

.search-guide .box-detail > button {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
}

.search-guide .box-detail > button svg * {
	transition: all .4s;
}

.search-guide .box-detail > button:hover svg path {
	stroke: var(--pink-cl);
}

.search-guide .box-detail .inner {
	padding-right: 0;
	overflow-x: hidden;
}

.text-guide {
	margin-bottom: 15px;
}

.text-guide > * {
	margin-bottom: 5px;
}

.box-guide > strong {
	color: var(--pink-cl);
	margin-bottom: 10px;
}

.box-guide .table-custom .row-title {
	border-radius: 10px;
	border: none;
}

.box-guide .table-custom .row-title .box-title,
.box-guide .table-custom .row-data .box-data {
	border-right: 0!important;
}

.box-guide .table-custom .row-data {
	border: 0;
}

.box-guide .table-custom .row-data .box-data,
.box-guide .table-custom .row-title .box-title {
	flex: 0 0 50%;
	max-width: 50%;
}

.box-guide .table-custom .row-data .box-data-1 {
	padding-left: 0;
}

.box-guide .table-custom .table-body .row-data {
	border-bottom: 1px solid #E4E4EF;
	border-radius: 0!important;
}

.list-guide .box-note {
	margin-top: 10px;
}

.list-guide .item {
	position: relative;
}

.list-guide .item:not(:last-child) {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 9px solid #F5F5F5;
}

.list-guide .item:last-child:after {
	display: none;
}

.text-guide,
.list-guide .item {
	padding-left: 30px;
	padding-right: 30px;
}

.search-guide .box-detail:after {
	content: '';
    width: 27px;
    height: 15px;
    background: url(../images/arrow-top.png) no-repeat;
    position: absolute;
    top: -15px;
    left: 95px;
}

.search-guide .box-detail .inner {
	max-height: 200px;
	overflow-y: auto;
}

.table-custom .row-title {
	border-radius: 10px 10px 0 0;
	background: #F0EDFF;
	border: 1px solid #E4E4EF;
}

.table-custom .row-title .box-title {
	padding: 10px 15px;
	display: flex;
	flex-wrap: wrap;
}

.table-custom .row-title h3 {
	font-weight: 600;
	font-size: 14px;
}

.table-custom .row-data {
	border: 1px solid #E4E4EF;
	margin-top: -1px;
}

.table-custom .row-data .box-data {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
}

.table-custom .row-data .box-data:not(:last-child),
.table-custom .row-title .box-title:not(:last-child) {
	border-right: 1px solid #E4E4EF;
}

.table-custom .table-body .row-data:last-child {
	border-radius: 0 0 10px 10px;
}

.find-user-result-cb .box-data-1 .box-img {
	flex: 0 0 42px;
    max-width: 42px;
}

.find-user-result-cb .box-data-1 .box-text {
    flex: 0 0 calc(100% - 42px);
    max-width: calc(100% - 42px);
    padding-left: 15px;
    position: relative;
}

.find-user-result-cb .box-data-2 .list-item .item strong {
    flex: 0 0 110px;
    max-width: 110px;
}

.find-user-result-cb .box-data-2 .list-item .item span {
    flex: 0 0 calc(100% - 110px);
    max-width: calc(100% - 110px);
}

.find-user-result-cb .box-data-3 p .keyword-item {
	font-weight: 700;
	color: var(--pink-cl);
}

.find-user-result-cb .box-data-3 p .keyword-item:not(:last-child) {
	margin-right: 5px;
}

.find-user-result-cb .box-data-3 p .keyword-item:last-child em {
	display: none;
}

.find-user-result-cb tr td:nth-child(1) {
	width: 500px;
}

.find-user-result-cb .box-data-1 {
	width: 400px!important;
}

.find-user-result-cb .box-data-1 h5 a {
	position: relative;
	top: 2px;
	margin-left: 5px;
}

.find-user-result-cb tr td:nth-child(2) {
	width: 370px;
}

.find-user-result-cb .table-responsive .box-data-2 {
	width: 400px!important;
}

.find-user-result-cb tr td:nth-child(3) {
	width: auto!important;
}

.find-user-result-cb .table-responsive .box-data-3 {
	width: auto!important;
}

.find-user-result-cb .table-responsive .box-data-3 .tags {
	margin-bottom: 12px;
}

.find-user-result-cb .table-responsive .box-data-3 .tags ul {
	margin-bottom: -5px;
}

.find-user-result-cb .table-responsive .box-data-3 .tags ul li {
	border-radius: 8px;
	border: 1px solid #E4E4EF;
	background: #F5F5F5;
	height: 20px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-size: 12px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.find-user-result-cb .table-responsive .box-data-3 p {
	margin-bottom: 15px;
}

.find-user-result-cb .table-responsive .box-data-3 .action ul li:not(:last-child) {
	margin-right: 25px;
}

@media (max-width: 1800px) {
	.find-user-result-cb tr td:nth-child(3) {
		width: 600px!important;
	}

	.find-user-result-cb .table-responsive .box-data-3 {
		width: 570px!important;
	}
}

@media (max-width: 992px) {
	.search-guide .box-detail {
		left: 0;
	}
}

@media (max-width: 767px) {
	.search-guide .box-detail {
		width: 100%;
	}
}

/*contact modal*/
.contact-modal {
	width: 670px;
}

.contact-modal .form-group label {
	font-weight: 600;
	margin-bottom: 5px;
}

.contact-modal .form-group label span {
	color: #F76666;
}

.contact-modal .form-group {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.contact-modal .form-group .box-left {
	flex: 0 0 calc(100% - 150px);
	max-width: calc(100% - 150px);
	padding-right: 10px;
}

.contact-modal .form-group .box-right {
	flex: 0 0 150px;
	max-width: 150px;
	padding-left: 20px;
	position: relative;
	top: 10px;
}

.contact-modal .form-group .box-right ul li {
	margin-top: 5px;
}

.contact-modal .select2-container {
	width: 100%!important;
}

.contact-modal .form-group .form-control {
	width: 100%;
	border-radius: 8px;
    border: 1px solid #F0EDFF;
    background: #FBFAFF;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    outline: none;
}

.contact-modal .form-group .form-control::placeholder {
  color: #8999AF;
  opacity: 1;
}

.contact-modal .form-group .form-control:-ms-input-placeholder { 
  color: #8999AF;
}

.contact-modal .form-group .form-control::-ms-input-placeholder { 
  color: #8999AF;
}

.contact-modal .ckb-action {
	padding-top: 20px;
}

.contact-modal .ckb-action .container-ckb {
	padding-left: 35px;
}

.contact-modal .action {
	margin-top: 20px;
}

.contact-modal .action li:not(:last-child) {
	margin-right: 10px;
}

.contact-modal .action ul {
	margin-bottom: -10px;
}
	
.contact-modal .action li {
	margin-bottom: 10px;
}	

.contact-modal .action button {
	height: 40px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 8px;
    background: var(--pink-cl);
    color: #fff;
    font-weight: 600;
}

.contact-modal .action button.btn-cancel {
	border: 1px solid var(--gray-cl);
    background: none;
    color: rgba(62, 75, 94, 0.50);
}

@media (max-width: 576px) {
	.contact-modal .form-group .box-left,
	.contact-modal .form-group .box-right {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
		position: static;
	}

	.contact-modal .form-group .box-right {
		margin-top: 10px;
	}
}

.modal-custom .form-group label {
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 0;
}

.modal-custom .form-group label span {
	color: #F76666;
}

.modal-custom .form-group {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.modal-custom .form-group .box-left {
	flex: 0 0 calc(100% - 150px);
	max-width: calc(100% - 150px);
	padding-right: 10px;
}

.modal-custom .form-group .box-right {
	flex: 0 0 150px;
	max-width: 150px;
	padding-left: 20px;
	position: relative;
	top: 10px;
}

.modal-custom .form-group .box-right ul li {
	margin-top: 5px;
}

.modal-custom .select2-container {
	width: 100%!important;
}

.modal-custom .form-group .form-control {
	width: 100%;
	border-radius: 8px;
    border: 1px solid #F0EDFF;
    background: #FBFAFF;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    outline: none;
}

.modal-custom .form-group .form-control::placeholder {
  color: #8999AF;
  opacity: 1;
}

.modal-custom .form-group .form-control:-ms-input-placeholder { 
  color: #8999AF;
}

.modal-custom .form-group .form-control::-ms-input-placeholder { 
  color: #8999AF;
}

.ql-toolbar.ql-snow {
	border-radius: 8px 8px 0 0;
	border-color: #F0EDFF;
}

.ql-container.ql-snow {
	border-radius: 0 0 8px 8px;
	border-color: #F0EDFF;
	min-height: 100px;
}

.modal-custom .ckb-action .container-ckb {
	padding-left: 35px;
}

.modal-custom .action {
	margin-top: 20px;
}

.modal-custom .action li:not(:last-child) {
	margin-right: 10px;
}

.modal-custom .action button {
	height: 40px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 8px;
    background: var(--pink-cl);
    color: #fff;
    font-weight: 600;
}

.modal-custom .action button.btn-cancel {
	border: 1px solid var(--gray-cl);
    background: none;
    color: rgba(62, 75, 94, 0.50);
}

.modal-custom .input-area .notes {
	margin-top: 5px;
}

.modal-st2 {
	position: relative;
}

.modal-st2 .btn-close-modal {
	position: absolute;
	top: 30px;
	right: 30px;
}

.modal-st2 .modal-header {
	padding: 30px 30px 0 30px;
}

.modal-st2 .fancybox-close-small {
	display: none;
}

.review-modal {
	width: 780px;
	border-radius: 8px;
	border-top: 3px solid var(--pink-cl);
}

.review-modal .mail-content {
	border-top: 1px solid var(--border-cl);
	border-bottom: 1px solid var(--border-cl);
	margin-top: -5px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.review-modal .mail-content p:not(:last-child) {
	margin-bottom: 20px;
}

.review-modal .action button,
.review-modal .action a {
	padding: 0;
	text-align: center;
	height: 40px;
	border-radius: 8px;
	font-weight: 600;
	color: #fff;
	font-size: 16px;
}

.review-modal .action .btn-1 {
	width: 180px;
}

.review-modal .action .btn-2 {
	background: #09589E;
	width: 270px;
}

.review-modal .action .btn-3 {
	background: #3E4B5E;
	width: 230px;
}

@media (max-width: 767px) {
	.review-modal .action li {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.review-modal .action li > * {
		width: 100%!important;
	}

	.review-modal .action li:not(:last-child) {
		margin-bottom: 15px;
	}
}

@media (max-width: 576px) {
	.modal-st2 .modal-header {
		padding: 20px 20px 0 20px;
	}

	.modal-st2 .btn-close-modal {
		top: 20px;
		right: 20px;
	}

	.review-modal .mail-content {
	    border-top: 1px solid var(--border-cl);
	    border-bottom: 1px solid var(--border-cl);
	    margin-top: -5px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    margin-bottom: 20px;
	}
}

/*profile-modal*/
.profile-modal {
	width: 850px;
}

.profile-modal .top-panel-modal {
	border-bottom: 1px solid rgba(62, 75, 94, 0.15);
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.profile-modal .top-panel-modal h2 {
	font-weight: 600;
	text-transform: uppercase;
}

.profile-modal .top-panel-modal a {
	height: 40px;
	border-radius: 8px;
	color: #fff;
	background: var(--pink-cl);
	padding: 0 20px;
	display: inline-flex;
	align-items: center;
}

.profile-modal .head-info {
	margin-bottom: 20px;
	align-items: flex-start;
}

.profile-modal .head-info .box-img {
	flex: 0 0 160px;
	max-width: 160px;
}

.profile-modal .head-info .box-img .thumb-img,
.profile-modal .head-info .box-img .thumb-img > * {
	border-radius: 5px;
}

.profile-modal .head-info .box-img .thumb-img {
	padding-top: 0;
	height: 170px;
}

.profile-modal .head-info .box-info {
	flex: 0 0 calc(100% - 160px);
	max-width: calc(100% - 160px);
	padding-left: 24px;
}

.profile-modal .head-info .box-info .row-info {
	margin: 0 -7.5px -4px;
	width: 100%;
}

.profile-modal .head-info .box-info .info-item {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 7.5px;
	margin-bottom: 4px;
}

.profile-modal .head-info .box-info .info-item span {
	flex: 0 0 140px;
	max-width: 140px;
}

.profile-modal .head-info .box-info .info-item strong {
	flex: 0 0 calc(100% - 140px);
	max-width:  calc(100% - 140px);
}

.profile-modal .block-info {
	margin-bottom: 20px;
}

.profile-modal .block-info h3 {
	border-radius: 8px;
	background: #F0EDFF;
	font-weight: 600;
	padding: 6px 15px;
	margin-bottom: 20px;
}

.profile-modal .block-info ul {
	margin-bottom: -4px;
}

.profile-modal .block-info ul li {
	position: relative;
	padding-left: 15px;
	margin-bottom: 4px;
}

.profile-modal .block-info ul li.item span {
	flex: 0 0 180px;
	max-width: 180px;
}

.profile-modal .block-info ul li.item strong {
	flex: 0 0 calc(100% - 180px);
	max-width: calc(100% - 180px);
}

.profile-modal .block-info ul li:after {
	content: '';
	width: 4px;
	height: 4px;
	background: #3E4B5E;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 8px;
}

.profile-modal .img-profile .inner {
	text-align: center;
	background: #FBFAFF;
}

.profile-modal .img-profile .inner img {
	max-width: 100%;
}

.profile-modal .box-guide .action .btn-st1 {
	margin-right: 15px;
}

.profile-modal .box-guide {
	border-radius: 8px;
	background: #F3F0FB;
	padding: 10px 15px;
	margin-top: 7px;
	width: 100%;
}

.profile-modal .box-guide .action {
	margin-top: 7px;
}

.profile-modal .block-info .progress-area .item {
	align-items: flex-start;
}

.profile-modal .block-info .progress-area .item:not(:last-child) {
	margin-bottom: 25px;
}

.profile-modal .block-info .progress-area .item .box-time {
	flex: 0 0 220px;
	max-width: 220px;
}

.profile-modal .block-info .progress-area .item .box-detail {
	flex: 0 0 calc(100% - 220px);
	max-width: calc(100% - 220px);
}

.profile-modal .block-info.work-exp .progress-area .item ul {
	margin-top: 10px;
}

.profile-modal .block-info.work-exp .progress-area .item:not(:last-child) {
	border-bottom: 1px solid #E4E4EF;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.profile-modal .block-info.skill ul {
	margin-bottom: -10px;
}

.profile-modal .block-info.skill ul li:after {
	display: none;
}

.profile-modal .block-info.skill ul li {
	border-radius: 8px;
	background: #F5F8FA;
	height: 32px;
	display: flex;
	align-items: center;
	padding: 0 15px;
	margin-bottom: 10px;
}

.profile-modal .block-info.skill ul li:not(:last-child) {
	margin-right: 10px;
}

.profile-modal .main-detail {
	overflow-y: auto;
	margin-right: -30px;
	padding-right: 30px;
}

.profile-modal .modal-body {
	padding-top: 0!important;
	padding-bottom: 20px;
}

.profile-modal .top-panel-modal {
	padding-top: 20px;
}

.list-reference {
	margin-bottom: -15px;
}

.list-reference .item {
	margin-bottom: 15px;
}

.profile-modal {
	overflow: visible;
}

.profile-modal .modal-arrow {
	position: absolute;
	top: 35%;
	z-index: 11;
}

.profile-modal .modal-arrow.arrow-prev {
	left: -60px;
}

.profile-modal .modal-arrow.arrow-next {
	right: -60px;
}

@media (max-width: 1200px) {
	.profile-modal .head-info .box-info .info-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 992px) {
	.profile-modal .modal-arrow.arrow-prev {
		left: 0px;
	}

	.profile-modal .modal-arrow.arrow-next {
		right: 0px;
	}
}

@media (max-width: 767px) {
	.profile-modal .head-info .box-info {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}

	.profile-modal .head-info .box-img {
		margin: 0 auto 20px;
	}
}

@media (max-width: 576px) {
	.profile-modal .block-info .progress-area .item .box-time,
	.profile-modal .block-info .progress-area .item .box-detail {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.profile-modal .block-info .progress-area .item .box-time {
		margin-bottom: 10px;
	}

	.profile-modal .main-detail {
		overflow-y: auto;
		margin-right: -20px;
		padding-right: 20px;
	}
}

.move-modal.fancybox-content {
    width: 530px;
}

.save-folder-modal.fancybox-content {
    width: 400px;
}

.move-modal .form-group,
.save-folder-modal .form-group {
	margin-bottom: 25px;
}

.col-radio {
	flex: 0 0 100%!important;
	max-width: 100%!important;
}

.col-radio .list-radio .item:not(:last-child) {
	margin-right: 40px;
}

/* css icont note */
.note-management-modal .table-responsive .news-item:not(:last-child){
	margin-bottom: 10px;
}

.note-management-modal .table-responsive {
	max-height: 300px;
	overflow: auto;
	margin-bottom: 15px;
}

.note-management-modal .modal-body {
	padding: 20px;
}

.note-management-modal .table-responsive::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}

.note-management-modal .table-responsive::-webkit-scrollbar-thumb {
  background: #DCDCDC;
  border-radius: 20px;
}

.note-management-modal .input-area strong {
	margin-bottom: 10px;
}

.note-management-modal .input-area .bot-action {
	margin-top: 10px;
}

.note-management-modal .fancybox-close-small {
	display: none;
}

@media (max-width: 576px) {
	.note-management-modal .input-area .bot-action {
		flex-direction: column;
	}

	.note-management-modal .input-area span {
		margin-bottom: 10px;
	}
}