.join-button {
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
}

.join-button .block-ct-1 p {
    position: relative;
    padding-left: 15px;
}

.join-button .block-ct-1 p:after {
    content: '';
    height: 100%;
    width: 5px;
    background: var(--pink-cl);
    position: absolute;
    top: 0;
    left: 0;
}

.join-button .block-ct-2 .form-group {
    max-width: 580px;
    width: 100%;
    margin-bottom: 20px;
}

.join-button .block-ct-2 .form-group>label {
    font-weight: 600;
    margin-bottom: 7px;
}

.join-button .block-ct-2 .form-group button {
    font-weight: 400;
}

.join-button .block-ct-2 {
    position: relative;
}

.join-button .block-ct-2 .code {
    position: absolute;
    top: 35px;
    right: 30px;
}

.join-button .block-ct-2 .code>* {
    display: block;
    text-align: center;
}

.join-button .block-ct-2 textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto !important;
    resize: none;
    min-height: 140px;
}

.block-ct-2 .form-group .form-select-sp {
    max-width: 350px;
    width: 100%;
}

@media (max-width: 992px) {
    .join-button .block-ct-2 .form-group {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    .join-button .block-ct-2 .code {
        position: static;
        margin-bottom: 20px;
    }

    .block-ct-2 .form-group .form-select-sp {
        max-width: 100%;
        width: 100%;
    }
}