#search-collapse, .search-extend {
	display: none;
}

.search-extend {
	margin-top: 10px;
}

.top-search {
	margin-bottom: 10px;
}

.top-search .btn-action {
	height: 30px;
	border: 1px solid #3E4B5E;
	color: #3E4B5E;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
}

.top-search .btn-search.active {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}

.top-search .btn-search:hover,
.top-search .btn-search:active {
	color: var(--pink-cl);
	border-color: var(--pink-cl);
	background: #FFE0E7;
}

.top-search .btn-search.active svg * {
	transition: all .4s;
}

.top-search .btn-search:hover svg.has-stroke path,
.top-search .btn-search.active svg.has-stroke path {
	fill: var(--pink-cl)
}

.top-search .list-item .item .btn-search svg {
	margin-left: 7px;
}

.top-search .list-item .item:not(:last-child) {
	margin-right: 5px;
}

.top-search .btn-export:hover, 
.top-search .btn-export:active {
    color: var(--pink-cl);
    border-color: var(--pink-cl);
    background: #FFE0E7;
}

.top-search .btn-export:hover svg.has-stroke path, 
.top-search .btn-export.active svg.has-stroke path {
    stroke: var(--pink-cl);
    fill: none;
}

.top-search .btn-export * {
	transition: all .4s;
}

.search-input .form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
}

.table-responsive thead tr:first-child th {
	padding: 15px 15px;
}

.table-responsive thead tr:first-child th h3 {
	text-align: center;
	position: relative;
}

.table-responsive thead tr:first-child th:last-child h3:after {
	content: '';
	width: 100%;
	height: 1px;
	background: #000;
	position: absolute;
	bottom: -15px;
	left: 0;
}

.table-responsive thead tr:first-child th {
	border-bottom: none!important;
}

.table-block-row table tr:first-child th:first-child {
	border-radius: 8px 0 0 0;
}

.table-block-row table tr:first-child th:last-child {
	border-radius: 0 8px 0 0;
}

.table-responsive thead tr:last-child th:first-child {
	border-radius: 0 0 0 8px;
}

.table-responsive thead tr:last-child th:last-child {
	border-radius: 0 0 8px 0;
}

.table-responsive thead tr:last-child h3 {
	position: relative;
	padding-right: 10px;
}

.table-responsive thead tr:last-child h3:after {
	content: '';
	width: 10px;
	height: 14px;
	background: url(../images/carcet.svg) no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	display: none;
}

.table-responsive thead tr:last-child th {
	border-top: 0!important;
}

.record-requisition td > div {
	text-align: center;
}

.table-responsive .box-data-1 {
	width: 70px;
	text-align: left;
}

.table-responsive .box-data-2 {
	width: 250px;
	text-align: left;
}

@media (max-width: 1600px) {
	.search-input .row > .col-md-3 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}

	.search-input .no-label label {
		display: none;
	}

	.table-responsive .box-data-3,
	.table-responsive .box-data-4 {
		width: 240px
	}

	.table-responsive .box-data-5,
	.table-responsive .box-data-6,
	.table-responsive .box-data-7,
	.table-responsive .box-data-8 {
		width: 130px;
	}
}

@media (max-width: 1366px) {
	.search-input .row > .col-md-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (max-width: 767px) {
	.search-input .row > .col-md-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	
}

@media (max-width: 576px) {
	.top-search .inner > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.top-search .page-number {
		justify-content: flex-end;
	}
}

/* custom css */
.badge-primary {
    color: #fff;
    background-color: #5E6FC3;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}