#search-collapse, .search-extend {
	display: none;
}

.top-search .btn-action {
	height: 30px;
	border: 1px solid #3E4B5E;
	color: #3E4B5E;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
	transition: all .4s;
	margin-bottom: 10px;
}
.top-search .btn-action.active {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}
.top-search .btn-action:hover,
.top-search .btn-action:active {
	color: var(--pink-cl);
	border-color: var(--pink-cl);
	background: #FFE0E7;
}

.top-search .btn-action.active svg * {
	transition: all .4s;
}

.top-search .btn-action:hover svg.has-stroke path,
.top-search .btn-action.active svg.has-stroke path {
	fill: var(--pink-cl)
}

.top-search .btn-action svg {
	margin-left: 10px;
}

.form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
}

.ui-multiselect > span:last-child {
	color: var(--main-cl);
}

.top-panel > h2,
.block-chart > h2 {
	font-size: 20px;	
	font-weight: bold;
}

.block-chart > h2 {
	margin-bottom: 10px;
}

.top-panel .list-item .item {
	margin-right: 20px;
}

.top-panel .list-item .box-ckb > label {
	padding-left: 30px;
}

.top-panel .btn-action {
	height: 30px;
	border: 1px solid #3E4B5E;
	color: #3E4B5E;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
	transition: all .4s;
}

.top-panel .btn-action.active {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}

.top-panel .btn-action:hover,
.top-panel .btn-action:active {
	color: var(--pink-cl);
	border-color: var(--pink-cl);
	background: #FFE0E7;
}

.top-panel .btn-action:hover svg.has-stroke path,
.top-panel .btn-action.active svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}

.table-responsive tr td:nth-child(2) {
	width: 140px;
}

.table-responsive .box-data-2 {
	width: 110px;
}

.table-responsive tr td:nth-child(10),
.table-responsive tr td:nth-child(19),
.table-responsive tr td:nth-child(32) {
	width: 90px;
}

.table-responsive .box-data-10,
.table-responsive .box-data-19,
.table-responsive .box-data-32 {
	width: 60px;
}

.table-responsive tr td:nth-child(20),
.table-responsive tr td:nth-child(21) {
	width: 140px;
}

.table-responsive .box-data-20,
.table-responsive .box-data-21 {
	width: 110px;
}

.table-responsive tr td:nth-child(31) {
	width: 160px;
}

.table-responsive .box-data-31 {
	width: 130px;
}

.table-responsive .new {
	background: #1C2964;
	color: #fff;
}

.table-responsive .reject {
	background: #FF2458;
	color: #fff;
}

.table-responsive .has-colspan {
	text-align: center;
}

.tableFixHead {
    overflow-y: auto;
    height: 700px;
}

.tableFixHead thead {
    position: sticky;
    top: 0;
}

.chart-notes {
	margin: 30px -8px -30px;
}

.chart-notes .col-notes {
	flex: 0 0 11.11%;
	max-width: 11.11%;
	padding: 0 8px;
	margin-bottom: 30px;
}

.list-notes .item:not(:last-child) {
	margin-bottom: 13px;
}

.list-notes .item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.menu-chart {
	width: 12px;
	height: 12px;
	display: inline-block;
	padding: 0px !important;
	
}

.list-notes .item .bx-color {
	flex: 0 0 16px;
	max-width: 16px;
	height: 16px;
}

.list-notes .item .bx-color.cl-1 {
	background: #1C2964;
}

.list-notes .item .bx-color.cl-2 {
	background: #FF2458
}

.list-notes .item .bx-color.cl-3 {
	background: #09589E
}

.list-notes .item .bx-color.cl-4 {
	background: #2B908F
}

.list-notes .item .bx-color.cl-5 {
	background: #1E5C8B
}

.list-notes .item .bx-color.cl-6 {
	background: #7CB5EC
}

.list-notes .item .bx-color.cl-7 {
	background: #B6E28C
}

.list-notes .item .bx-color.cl-8 {
	background: #434348
}

.list-notes .item .bx-color.cl-9 {
	background: #009B74
}

.list-notes .item .bx-color.cl-10 {
	background: #90ED7D
}

.list-notes .item .bx-color.cl-11 {
	background: #434348
}

.list-notes .item .bx-color.cl-12 {
	background: #5856A5
}

.list-notes .item .bx-color.cl-13 {
	background: #BDBCDB
}

.list-notes .item .bx-color.cl-14 {
	background: #F76666
}

.list-notes .item .bx-color.cl-15 {
	background: #F15C80
}

.list-notes .item .bx-color.cl-16 {
	background: #FDB816
}

.list-notes .item .bx-color.cl-17 {
	background: #90ED7D
}

.list-notes .item .bx-color.cl-18 {
	background: #FFC700
}

.list-notes .item .bx-color.cl-19 {
	background: #4B5480
}

.list-notes .item .bx-color.cl-20 {
	background: #50BEE8
}

.list-notes .item .bx-color.cl-21 {
	background: #39C4A5
}

.list-notes .item .bx-color.cl-22 {
	background: #39C4A5
}

.list-notes .item .bx-color.cl-23 {
	background: #3F3D56
}

.list-notes .item .bx-color.cl-24 {
	background: #7C8FAC
}

.list-notes .item .bx-color.cl-25 {
	background: #09589E
}

.list-notes .item .bx-color.cl-26 {
	background: #1C2964
}

.list-notes .item .bx-color.cl-27 {
	background: #E4D354
}

.list-notes .item .bx-color.cl-28 {
	background: #F15C80
}

.list-notes .item .bx-color.cl-29 {
	background: #52B4FF
}

.list-notes .item .bx-color.cl-30 {
	background: #CCCCCC
}

.list-notes .item .bx-color.cl-31 {
	background: #385D76
}

.list-notes .item .bx-text {
	flex: 0 0 calc(100% - 16px);
	max-width: calc(100% - 16px);
	padding-left: 10px;
}

@media (max-width: 1600px) {
	.chart-notes .col-notes {
		flex: 0 0 16.66%;
		max-width: 16.66%;
		padding: 0 8px;
	}
}

@media (max-width: 1365px) {
	.chart-notes .col-notes {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (max-width: 992px) {
	.chart-notes .col-notes {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.top-panel .page-number,
	.top-panel .left-action .list-item {
		flex: 0 0 100%;
		max-width: 100%;
		justify-content: flex-end;
	}

	.top-panel .list-item .item:last-child {
		margin-right: 0px;
	}
}

@media (max-width: 767px) {
	.chart-notes .col-notes {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}

	.top-panel > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.top-panel > h2 {
		margin-bottom: 10px;
	}

	.form-group.no-label label {
		display: none;
	}
}

@media (max-width: 576px) {
	.chart-notes .col-notes {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.top-panel .left-action .list-item {
		justify-content: flex-start;
		margin-bottom: -10px;
	}

	.top-panel .left-action .list-item .item {
		margin-bottom: 10px;
	}
}

.outer-table {
	position: relative;
}

.outer-table .scroll-button {
	position: sticky;
	z-index: 1111;
	top: 55%;
	display: flex;
	justify-content: space-between;
	margin: 0 -20px 0 -25px;
	height: 0;
}

@media (max-width: 1200px) {
	.outer-table .scroll-button {
		justify-content: space-between;
		margin: 0;
	}
}

