.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.d-block {
  display: block !important;
}
.h-100 {
  height: 100% !important;
}
.bgBox {
	background-color: var(--dark-blue-cl);
	border-radius: 8px;
	padding: 30px;
	height: 100%
}
.boxMainTop {
	margin-bottom: 25px
}
.boxMainTop h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: normal; 
	color: #fff;
	margin-bottom: 20px
}
.boxMainTop .number {
	font-size: 36px;
	font-weight: 600
}
.boxMainTop p {
	font-size: 15px;
	margin-top: 10px
}
.text-intro {
	width: 80%
}
@media only screen and (max-width: 1023px) {
	.text-intro {
		margin-bottom: 20px;
		padding-right: 10px
	}
}
.top-panel {
	margin-bottom: 15px
}
.top-panel .left-action .list-item .item:not(:last-child) {
	margin-right: 20px;
}
.top-panel .btn-action {
	height: 30px;
	border: 1px solid #3E4B5E;
	color: #3E4B5E;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
	transition: all .4s;
}
.top-panel .btn-action.active {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}
.top-panel .btn-action:hover,
.top-panel .btn-action:active {
	color: var(--pink-cl);
	border-color: var(--pink-cl);
	background: #FFE0E7;
}
.top-panel .btn-action:hover svg.has-stroke path,
.top-panel .btn-action.active svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}
#search-collapse, .search-extend {
	display: none;
}
.search-extend .form-control {
	border-radius: 8px;
	border: 1px solid #F0EDFF;
	background: #FBFAFF;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 12px;
	outline: none;
	width: 100%;
}

.search-extend .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}

.search-extend .box-keyword {
	margin-bottom: 15px;
}

.search-extend .box-keyword .input-area {
	position: relative;
}

.search-extend .box-keyword .input-area .clear {
	position: absolute;
	right: 15px;
	top: 10px;
	display: none;
}

.search-extend .box-keyword .input-area .clear.active {
	display: inline-block;
}

.search-extend .box-keyword .form-control:focus {
	background: #fff;
	box-shadow: 0px 0px 0px 2px #1C2964;
}

.search-extend .panel-action {
	margin-bottom: 25px;
}

.search-extend .box-detail:after {
	content: '';
    width: 27px;
    height: 15px;
    background: url(../images/arrow-top.png) no-repeat;
    position: absolute;
    top: -15px;
    right: 60px;
}
.search-extend .box-date {
	position: relative;
}
.search-extend .box-date img {
	position: absolute;
	top: 12px;
	right: 10px;
}

@media only screen and (max-width: 767px) {

	.top-panel > * {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.block-title {
	margin-bottom: 20px
}
.block-title h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: normal; 
}
@media only screen and (max-width: 992px) {
	.block-title h2 {
		margin-bottom: 10px
	}
}
.tableFixHead { overflow-y: auto; height: 485px; }
.tableFixHead thead th { position: sticky; top: 0 }
.tableFixHead.table-responsive table tr:first-child th:first-child,
.tableFixHead.table-responsive table tr:first-child th:last-child{
	border-radius: 0
}
.chartDegree .container-ckb {
	padding-left: 30px
}
.canvasDegree {
	max-width: 950px;
	margin: 0 auto
}
.chart-notes ul li {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.chart-notes ul li span {
	position: relative;
	padding-left: 24px;
}
.chart-notes ul li span:after {
	content: '';
	width: 16px;
	height: 16px;
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: 5px;
}
.chart-notes em {
	display: block;
	padding-left: 24px;
	color: var(--gray-cl);
}
.chart-notes ul li:not(:last-child) {
	margin-bottom: 8px;
}
.chart-notes ul li span.label-1:after {
	background-color: #09589E;
}
.chart-notes ul li span.label-2:after {
	background-color: #FF2458;
}
.chart-notes ul li span.label-3:after {
	background-color: #1C2964;
}
.chart-notes ul li span.label-4:after {
	background-color: #4B5480;
}
.chart-notes ul li span.label-5:after {
	background-color: #8999AF;
}
.chart-notes ul li span.label-6:after {
	background-color: #4B5480;
}
.chart-notes ul li span.label-7:after {
	background-color: #FFE0E7;
}
@media only screen and (max-width: 992px) {
	.chart-notes {
		margin-top: 30px
	}
}

.search-extend .row {
	margin-left: -10px;
	margin-right: -10px;
}

.search-extend .row [class*="col-"] {
	padding: 0 10px;
}

.search-input {
	flex: 0 0 calc(100% - 100px);
	max-width: calc(100% - 100px);
	padding-right: 20px;
}

.search-action {
	flex: 0 0 100px;
	max-width: 100px;
}

.search-action .btn-st1 {
	padding: 0;
	width: 100%;
}

.search-action .form-action li {
	width: 100%;
}

.table-responsive tr td:nth-child(8),
.table-responsive tr td:nth-child(5) {
	width: 100px;
}

.table-responsive .box-data-8,
.table-responsive .box-data-5 {
	width: 70px;
}

.table-responsive tr td:nth-child(6),
.table-responsive tr td:nth-child(7) {
	width: 130px;
}

.table-responsive .box-data-6,
.table-responsive .box-data-7 {
	width: 100px;
}

.table-responsive tr td:nth-child(4) {
	width: 210px
}

.table-responsive .box-data-4 {
	width: 180px;
}

.table-responsive tr td:nth-child(3) {
	width: 130px;
}

.table-responsive .box-data-3 {
	width: 100px;
}

.table-responsive tr td:nth-child(1) {
	width: 350px;
}

.table-responsive .box-data-1 {
	width: 320px;
}

@media (max-width: 1800px) { 
	.table-responsive tr td:nth-child(2) {
		width: 350px;
	}

	.table-responsive .box-data-2 {
		width: 320px;
	}
}

@media (max-width: 1600px) {
	.search-input {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0;
	}
}

@media (max-width: 1439px) {
	.search-input > .row > [class*="col-"] {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.outer-table {
	position: relative;
}

.outer-table .scroll-button {
	position: sticky;
	z-index: 1111;
	top: 50%;
	justify-content: space-between;
	margin: 0 -20px 0 -25px;
	display: none;
	height: 0;
}

@media (max-width: 1800px) {
	.outer-table .scroll-button {
		display: flex;
	}
}

@media (max-width: 1200px) {
	.outer-table .scroll-button {
		justify-content: space-between;
		margin: 0;
	}
}