.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.d-block {
  display: block !important;
}
.h-100 {
  height: 100% !important;
}
.bgBox {
	background-color: var(--dark-blue-cl);
	border-radius: 8px;
	padding: 30px;
	height: 100%
}
.boxMainTop {
	margin-bottom: 25px
}
.boxMainTop h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: normal; 
	color: #fff;
	margin-bottom: 20px
}
.boxMainTop .number {
	font-size: 36px;
	font-weight: 600
}
.boxMainTop p {
	font-size: 15px;
	margin-top: 10px
}
.text-intro {
	width: 80%
}
@media only screen and (max-width: 1023px) {
	.text-intro {
		padding-right: 10px
	}
}
.top-panel {
	margin-bottom: 15px
}
.top-panel .left-action .list-item .item:not(:last-child) {
	margin-right: 20px;
}
.top-panel .btn-action {
	height: 30px;
	border: 1px solid #3E4B5E;
	color: #3E4B5E;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
	transition: all .4s;
}
.top-panel .btn-action.active {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}
.top-panel .btn-action:hover,
.top-panel .btn-action:active {
	color: var(--pink-cl);
	border-color: var(--pink-cl);
	background: #FFE0E7;
}
.top-panel .btn-action:hover svg.has-stroke path,
.top-panel .btn-action.active svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}
#search-collapse, .search-extend {
	display: none;
}
.search-extend .form-control {
	border-radius: 8px;
	border: 1px solid #F0EDFF;
	background: #FBFAFF;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 12px;
	outline: none;
	width: 100%;
}

.search-extend .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}

.search-extend .box-keyword {
	margin-bottom: 15px;
}

.search-extend .box-keyword .input-area {
	position: relative;
}

.search-extend .box-keyword .input-area .clear {
	position: absolute;
	right: 15px;
	top: 10px;
	display: none;
}

.search-extend .box-keyword .input-area .clear.active {
	display: inline-block;
}

.search-extend .box-keyword .form-control:focus {
	background: #fff;
	box-shadow: 0px 0px 0px 2px #1C2964;
}

.search-extend .panel-action {
	margin-bottom: 25px;
}

.search-extend .box-detail:after {
	content: '';
    width: 27px;
    height: 15px;
    background: url(../images/arrow-top.png) no-repeat;
    position: absolute;
    top: -15px;
    right: 60px;
}
.search-extend .box-date {
	position: relative;
}
.search-extend .box-date img {
	position: absolute;
	top: 12px;
	right: 10px;
}

@media only screen and (max-width: 767px) {

	.top-panel > * {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.block-title {
	margin-bottom: 20px
}
.block-title h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: normal; 
}
@media only screen and (max-width: 992px) {
	.block-title h2 {
		margin-bottom: 10px
	}

	.top-panel .left-action {
	    flex: 0 0 auto;
	    max-width: auto;
	}
}
.tableFixHead { overflow-y: auto; height: 485px; }
.tableFixHead thead th { position: sticky; top: 0 }
.tableFixHead.table-responsive table tr:first-child th:first-child,
.tableFixHead.table-responsive table tr:first-child th:last-child{
	border-radius: 0
}
.chartDegree .container-ckb {
	padding-left: 30px
}

.top-filter  {
	margin-bottom: 30px;
}

.top-filter .form-group label {
	font-weight: 600;
	margin-bottom: 7px;
}

.top-filter {
	max-width: 550px;
}

.top-filter .row {
	margin-left: -7.5px;
	margin-right: -7.5px;
}

.top-filter .row [class*="col-"] {
	padding: 0 7.5px;
}

.top-filter .box-action {
	flex: 0 0 100px;
	max-width: 100px
}

.top-filter .box-action button {
	width: 100%;
	padding: 0;
}

.top-filter .box-input {
	flex: 0 0 calc(100% - 100px);
	max-width: calc(100% - 100px);
	padding-right: 15px;
}

.table-responsive tr th,
.table-responsive tr td {
	padding-left: 12px;
	padding-right: 12px;
}

.table-responsive tr td {
	width: 90px;
}

.table-responsive tr td:nth-child(2),
.table-responsive tr td:nth-child(2) > div {
	width: auto;
}

.table-responsive tr td:last-child {
	width: 110px;
}

@media (max-width: 1800px) {
	.table-responsive tr td {
		width: 100px;
	}

	.table-responsive tr td > div {
		width: 74px;
	}

	.table-responsive tr td:nth-child(2) {
		width: 225px;
	}

	.table-responsive tr td:nth-child(2) > div {
		width: 200px;
	}
}

@media (max-width: 576px) {
	.top-filter .box-input {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0px;
	}

	.top-filter .box-input .row > [class*="col"] {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.outer-table {
	position: relative;
}

.outer-table .scroll-button {
	position: sticky;
	z-index: 1111;
	top: 70%;
	display: none;
	justify-content: space-between;
	margin: 0 -20px 0 -25px;
	height: 0;
}

@media (max-width: 1800px) {
	.outer-table .scroll-button {
		display: flex;
	}
}

@media (max-width: 1200px) {
	.outer-table .scroll-button {
		justify-content: space-between;
		margin: 0;
	}
}