.job-management-add-new {
	margin-bottom: 25px;
}

.job-management-add-new .wrapper {
	max-width: 900px;
	margin: 0 auto;
	width: 100%;
}

.job-management-add-new .block-ct {
	padding-left: 80px;
	padding-right: 80px;
}

.job-management-add-new .block-ct .form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
}

.panel-action {
	margin-top: -10px;
}

.panel-action .container-ckb {
	padding-left: 30px;
}

.row.add-data {
	margin-top: 25px;
}

.panel-action .action > a em {
	color: #fff;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--pink-cl);
	border-radius: 50%;
}