.text-center {
    text-align: center !important;
}

.ml-1,
.mx-1 {
    margin-left: 0.25rem !important;
}

.list-style-disc {
    list-style: disc !important
}

.top-panel * {
    font-size: 12px;
}

.top-panel .left-action select {
    color: #3E4B5E;
    font-weight: 600;
}

.top-panel .left-action .list-item .item:not(:last-child) {
    margin-right: 8px;
}

.top-panel .box-right .page-number span,
.top-panel .box-right .page-number {
    font-size: 14px;
}

.top-panel .btn-action {
    height: 30px;
    border: 1px solid #3E4B5E;
    color: #3E4B5E;
    background: #fff;
    border-radius: 8px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
}

.top-panel .btn-action.active {
    border-color: var(--pink-cl);
    color: var(--pink-cl);
}

.top-panel .btn-action:hover,
.top-panel .btn-action:active {
    color: var(--pink-cl);
    border-color: var(--pink-cl);
    background: #FFE0E7;
}

.top-panel .btn-action:hover svg.has-stroke path,
.top-panel .btn-action.active svg.has-stroke path {
    stroke: var(--pink-cl);
    fill: none;
}

#search-collapse,
.search-extend {
    display: none;
}

.search-extend .form-control {
    border-radius: 8px;
    border: 1px solid #F0EDFF;
    background: #FBFAFF;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    outline: none;
    width: 100%;
}

.search-extend .box-detail:after {
    content: '';
    width: 27px;
    height: 15px;
    background: url(../images/arrow-top.png) no-repeat;
    position: absolute;
    top: -15px;
    right: 60px;
}

.search-extend .box-date {
    position: relative;
}

.search-extend .box-date img {
    position: absolute;
    top: 12px;
    right: 15px;
}

#search-collapse svg *,
#search-expand svg * {
    transition: all .4s;
}

#search-expand button:hover svg path,
#search-collapse button:hover svg path {
    stroke: none;
    fill: var(--pink-cl);
}

@media (max-width: 1600px) {
    .search-extend .col-lg-3 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

@media (max-width: 1430px) {
    .search-extend .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 736px) {
    .search-extend .col-lg-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .search-extend .null {
        display: none
    }
}

.email-process .top-panel {
    margin-bottom: 15px
}

.email-process .box-data-1 {
    width: 500px;
}

.email-process .box-data-2 {
    width: 150px;
}

.email-process .box-data-3 {
    width: 150px;
}

.email-process .box-data-4 {
    width: 150px;
}

.email-process .form-action li:not(:last-child) {
    margin-right: 8px;
}

.email-process .form-group>label {
    font-weight: 600;
    margin-bottom: 5px;
}

.email-process .table-block-row table tr td.nodata {
    border-radius: 8px !important
}

.email-process .table-block-row.table-responsive table tbody tr.space {
    background-color: inherit
}