.main-content > .wrapper {
	margin-bottom: 25px;
}

.daterangepicker select {
	padding: 2px 5px;
}

.my-calendar .sidebar {
	flex: 0 0 315px;
	max-width: 315px
}

.my-calendar .primary {
	flex: 0 0 calc(100% - 315px);
	max-width: calc(100% - 315px);
	padding-left: 25px;
}

.text-center {
  text-align: center !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.top-panel {
	margin-bottom: 15px
}

.top-panel .box-right {
	flex: 0 0 180px;
	max-width: 180px;
	justify-content: flex-end;
	margin-top: -5px;
}

.top-panel .box-right > .item:not(:last-child) {
	margin-right: 8px;
}

.top-panel .box-right .page-number span,
.top-panel .box-right .page-number {
	font-size: 14px;
}
.my-calendar .heightFull {
	height: 100%
}

.menu-calendar li {
	border-bottom: 1px solid #F3F0FD;
	padding: 10px 0
}
.menu-calendar li:first-child {
	padding-top: 0
}
.menu-calendar a {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 600
}
.menu-calendar a:hover, .menu-calendar a.active {
	color: var(--pink-cl)
}

.menu-calendar a:hover svg.has-stroke path,
.menu-calendar a.active svg.has-stroke path {
	fill: var(--pink-cl);
}

.menu-calendar a.active svg.icon-2 path,
.menu-calendar a:hover svg.icon-2 path {
	stroke: var(--pink-cl);
}

.my-task .box-data-1 {
	width: 600px;
}
.my-task .box-data-2 {
	width: 200px;
}
.my-task .box-data-3 {
	width: 100px;
}
.my-task .table-block-row.table-responsive table tbody tr.space {
	background-color: inherit
}
.title-myTask strong {
	display: inline
}

/*custom calendar*/
.list-reason {
	border-radius: 8px;
	border: 1px solid #F0EDFF;
	background: #FBFAFF;
	padding: 20px 0 20px 20px;
}

.list-reason .inner {
	height: 100px;
	overflow-y: auto;
}

.form-group label span {
	color: var(--red-cl);
}

.list-reason .inner .item {
	padding-right: 10px;
}

.list-reason .inner .item:not(:last-child) {
	margin-bottom: 10px;
}

.list-reason .inner .item .box-ckb label {
	padding-left: 35px;
	font-weight: normal;
}

.list-tags {
	margin-top: 10px;
}

.list-tags-sp {
	flex: 0 0 calc(100% - 150px);
    max-width: calc(100% - 150px);
    padding-right: 10px;
}

.list-tags ul {
	margin-bottom: -10px;
}

.list-tags ul li:not(:last-child) {
	margin-right: 10px;
}

.list-tags .item {
	padding: 5px 15px;
	background: #FBFAFF;
	border-radius: 8px; 
	font-size: 12px;
	margin-bottom: 10px;
	display: inline-flex;
	position: relative;
}

.list-tags .item button {
	position: absolute;
	top: -5px;
	right: -7px;
}


.controls .periods li:nth-child(3) {
	border-radius: 0 5px 5px 0;
}

.controls .periods li:nth-child(4),
.controls .periods li:nth-child(5) {
	display: none;
}

.daterangepicker .periods {
	width: 100%;
}

.controls .periods li {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	text-align: center;
	padding: 6px 10px;
}

.daterangepicker.single {
	width: 100%;
}

.daterangepicker {
	font-size: 14px;
}

.daterangepicker {
	padding: 0;
	box-shadow: 0 0 0 0;
	font-family: 'Cera-Pro';
}

.daterangepicker .periods li,
.daterangepicker .periods li:hover {
	color: var(--main-cl);
	background: rgba(189, 188, 219, 0.50);
}

.daterangepicker .periods li.active {
	background: var(--pink-cl);
	color: #fff!important;
}

.calendar .calendar-table .table-row .table-col.start-date .table-value-wrapper, 
.calendar .calendar-table .table-row .table-col.start-date .table-value-wrapper:hover {
	background: var(--pink-cl);
}

.daterangepicker select {
	font-size: 14px;
	height: 30px;
	border: 1px solid #E4E4EF;
	background: #F0EDFF;
	border-radius: 5px;
	color: var(--main-cl);
}

.calendar .calendar-header .arrow {
	align-items: center;
	display: flex;
}

.datepicker {
	margin: 10px -5px 0 -5px;
}

/*add new calendar modal*/
.add-new-calendar-modal {
	width: 1150px;
}

.add-new-calendar-modal .list-radio .item {
	height: 40px;
	display: flex;
	align-items: center;
}

.add-new-calendar-modal .list-radio .item:not(:last-child) {
	margin-right: 30px;
}

.add-new-calendar-modal label span {
	color: var(--red-cl);
}

.add-new-calendar-modal textarea {
	resize: none;
	padding-top: 15px;
	height: auto!important;
	min-height: 90px;
}

.add-new-calendar-modal .form-action {
	margin-top: 20px;
}

.add-new-calendar-modal .list-tags {
	margin-top: 0;
}

.check-calendar {
	width: 100%;
}

.check-calendar > .radio-area {
	margin-bottom: 15px;
}

.calendar-extend {
	display: none;
}

.calendar-extend.active {
	display: block;
}

.calendar-extend .tabs-wrapper .tabs li:not(:last-child) {
	margin-right: 20px;
}

.calendar-extend .tabs-wrapper .tabs li a {
	font-weight: 700;
	padding: 0 5px 5px;
}

.calendar-extend .tabs-wrapper li.active a {
	color: var(--pink-cl);
	position: relative;
}

.calendar-extend .tabs-wrapper li.active a:after {
	content: '';
    width: 100%;
    height: 2px;
    background: var(--pink-cl);
    position: absolute;
    bottom: 0;
    left: 0;
}

.calendar-extend .tab-responsive ul {
	padding-bottom: 10px;
}

.calendar-extend .form-group {
	margin-bottom: 20px;
}

.calendar-extend .form-group label {
	font-weight: 600;
	margin-bottom: 7px;
}

.calendar-extend .inner-tab {
	padding-top: 10px;
}

.calendar-extend .input-area .row-sm,
.calendar-extend .input-area .row-sm .col-right .row {
	margin: 0 -5px -20px!important;
}

.calendar-extend .input-area .row-sm > [class*="col-"],
.calendar-extend .input-area .row-sm .col-right .row > [class*="col-"] {
	padding: 0 5px 0!important;
	margin-bottom: 20px;
}

.calendar-extend .input-area .row-sm .col-right .row > [class*="col-"] {
	margin-bottom: 0;
}

.calendar-extend .input-area .row-sm .col-left {
	flex: 0 0 40%;
	max-width: 40%;
}

.calendar-extend .input-area .row-sm .col-right {
	flex: 0 0 60%;
	max-width: 60%;
}

.list-row-radio .row-item .row {
	width: 100%;
	margin-bottom: 0;
}

.list-row-radio .row-item .row [class*="col-"] {
	margin-bottom: 10px;
}

.list-row-radio .row-item .box-left strong {
	flex: 0 0 300px;
	max-width: 300px;
}

.list-row-radio .row-item .box-right .container-ckb {
	padding-left: 30px;
} 

.list-row-radio .row-item .box-right .list-ckb .item:not(:last-child) {
	margin-right: 40px;
}

.list-row-radio .row-item .box-left .list-radio {
	flex: 0 0 calc(100% - 300px);
	max-width: calc(100% - 300px);
}

.list-row-radio .row-item .box-right .remind .form-select {
	width: 113px;
	margin: 0 10px;
}

@media (max-width: 1600px) {
	.interview-schedule-tab .table-responsive tr td:nth-child(2) {
		width: 300px;
	}

	.interview-schedule-tab .table-responsive .box-data-2 {
		width: 270px;
	}
}

@media (max-width: 1024px) {
	.list-row-radio .row-item .row [class*="col-"] {
		margin-bottom: 5px;
	}

	.list-row-radio .row-item:not(:last-child) {
		margin-bottom: 15px;
	}
}

@media (max-width: 576px) {
	.add-new-calendar-modal .row [class*="col-"] {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.list-row-radio .row-item .box-left strong,
	.list-row-radio .row-item .box-left .list-radio {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.list-row-radio .row-item:not(:last-child) {
		margin-bottom: 20px;
	}

	.list-row-radio .row-item .box-right .list-ckb .item {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0;
	}

	.list-row-radio .row-item .box-right .list-ckb .item:not(:last-child) {
		margin-bottom: 15px;
	}

	.calendar-extend .input-area .row-sm .col-left,
	.calendar-extend .input-area .row-sm .col-right {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.calendar-extend .input-area .row-sm .col-right .row > [class*="col-"] {
		margin-bottom: 20px;
	}

	.block-ct.head-info .box-avatar .box-action .action-menu {
		right: 0;
	}
}

#calendar [class*="col-"] {
	margin: 0!important;
	padding: 0!important;
}

.fc-col-header {
	margin-bottom: 0!important;
}

.fc-scrollgrid-sync-inner {
	padding: 10px 0;
}

.fc .fc-toolbar-title {
	font-weight: 600;
	color: var(--main-cl);
	font-size: 20px;
}

.fc-toolbar-chunk .fc-button-group button {
	text-transform: uppercase;
	background: none;
	color: var(--main-cl);
	font-weight: 600;
}

.fc-header-toolbar .fc-toolbar-chunk:last-child .fc-button-group button {
	width: 80px;
}

.fc .fc-button-primary {
	border-color: #EDEDED;
}

.fc-toolbar-chunk .fc-button-group button:focus {
	box-shadow: 0 0 0 0!important;
}

.fc-toolbar-chunk .fc-dayGridMonth-button {
	border-radius: 0 8px 8px 0!important;
}

.fc-toolbar-chunk .fc-timeGridDay-button {
	border-radius: 8px 0 0 8px;
}

.fc-header-toolbar .fc-toolbar-chunk:last-child .fc-button-group button:last-child {
	border-radius: 0 8px 8px 0!important;
	display: none;
}

.fc-toolbar-chunk .fc-button-group button:hover:not(.fc-button-active) {
	color: var(--pink-cl)!important;
	background: #fff!important;
	border-color: #EDEDED;
}

.fc-toolbar-chunk .fc-button-group button.fc-button-active,
.fc-toolbar-chunk .fc-button-group button.fc-button-active:hover {
	background: var(--pink-cl)!important;
	border-color: var(--pink-cl)!important;
}

.fc-col-header-cell a {
	font-weight: 600!important;
}

.fc .fc-timegrid-slot {
	height: 2.5em;
}

.fc-theme-standard td, .fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
	border-color: #E7E7E7!important;
}

.fc-h-event {
	background-color: var(--pink-cl);
    border: 1px solid var(--pink-cl);
    border-radius: 8px!important;
    padding: 5px;
}

.fc-daygrid-event-dot {
    border: calc(var(--fc-daygrid-event-dot-width)/2) solid var(--pink-cl);
    border-radius: calc(var(--fc-daygrid-event-dot-width)/2);
    box-sizing: content-box;
    height: 0px;
    margin: 0px 4px;
    width: 0px;
}

.fc-v-event {
	background-color: #252C64;
    border: 1px solid #252C64;
    padding: 3px 0 0 5px;
    border-radius: 8px!important;
}

.menu-type ul {
	border: 1px solid #EDEDED;
	border-radius: 8px;
	display: inline-flex;
}

.menu-type ul a {
	width: 44px;
	height: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-type ul li {
	position: relative;
}

.menu-type ul li:first-child a {
	border-radius: 8px 0 0 8px;
}

.menu-type ul li:last-child a {
	border-radius: 0px 8px 8px 0px;
}

.menu-type ul li:after {
	content: '';
	width: 1px;
	height: 100%;
	background: #EDEDED;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.menu-type ul li:last-child:after {
	display: none;
}

.menu-type ul li a.active {
	background: var(--pink-cl);
}

.menu-type ul li a.active svg path {
	fill: #fff;
}

.menu-type ul li a.active svg.has-stroke path {
	fill: none;
	stroke: #fff;
}

.calendar-type .fc-header-toolbar {
	padding-right: 100px;
}

.calendar-type {
	position: relative;
}

.calendar-type .menu-type {
	position: absolute;
	top: 30px;
	right: 30px;
}

.list-type .block-title > ul li:not(:last-child) {
	margin-right: 15px;
}

.list-type .block-title > ul li a {
	padding: 0 8px;
	font-weight: 600;
	position: relative;
	transition: all .4s;
}

.list-type .block-title > ul li a:hover {
	color: var(--pink-cl);
}

.list-type .block-title > ul li a:after {
	content: '';
	width: 100%;
	height: 2px;
	background: var(--pink-cl);
	position: absolute;
	bottom: -5px;
	left: 0;
	display: none;
}

.list-type .block-title > ul li a.active:after {
	display: block;
}

.list-type .block-data {
	min-height: calc(100% - 115px);
}

.list-type .top-panel button.active .text-collapse {
  display: inline-block;
}

.list-type .table-responsive td:nth-child(8) {
	width: 120px;
}

.list-type .table-responsive .box-data-8 {
	width: 90px;
}

.list-type .table-responsive td:nth-child(7) {
	width: 200px;
}

.list-type .table-responsive .box-data-7 {
	width: 170px;
}

.list-type .table-responsive td:nth-child(6),
.list-type .table-responsive td:nth-child(5),
.list-type .table-responsive td:nth-child(4),
.list-type .table-responsive td:nth-child(3) {
	width: 170px;
}

.list-type .table-responsive .box-data-6,
.list-type .table-responsive .box-data-5,
.list-type .table-responsive .box-data-4,
.list-type .table-responsive .box-data-3 {
	width: 140px;
}

.list-type .table-responsive td:nth-child(2) {
	width: 300px;
}

.list-type .table-responsive .box-data-2 {
	width: 270px;
}

.list-type .table-responsive td:nth-child(1) {
	width: 70px;
}

.list-type .table-responsive .box-data-1 {
	width: 40px;
}

.box-filter .form-date {
	margin: 0 12px;
	width: 400px;
}

.box-filter .form-date .row {
	margin: 0 -6px;
}

.box-filter .form-date .row [class*="col-"] {
	padding: 0 6px;
	margin-bottom: 0;
}

@media (max-width: 1439px) {
	.block-data .top-panel .box-left {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 10px;
	}

	.block-data .top-panel .page-number {
		flex: 0 0 100%;
		max-width: 100%;
		justify-content: flex-end;
	}
}

@media (max-width: 1365px) {
	.my-calendar .sidebar {
		flex: 0 0 250px;
		max-width: 250px;
	}

	.my-calendar .primary {
		flex: 0 0 calc(100% - 250px);
		max-width: calc(100% - 250px);
	}

	.fc .fc-toolbar-title {
		font-size: 16px;
	}

	.fc-header-toolbar .fc-toolbar-chunk:last-child .fc-button-group button {
		width: 60px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 992px) {
	.my-calendar .sidebar,
	.my-calendar .primary {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}

	.my-calendar .sidebar {
		margin-bottom: 25px;
	}

	.calendar-type .menu-type {
		top: 20px;
		right: 20px;
	}

	.fc-header-toolbar .fc-toolbar-chunk:last-child .fc-button-group button {
		width: 70px;
	}

	.list-type {
		margin-top: 25px;
	}
}

@media (max-width: 767px) {
	.fc .fc-toolbar {
		flex-direction: column;
	}

	.fc .fc-toolbar-title {
		font-size: 20px;
		margin: 15px 0;
	}

	.calendar-type .fc-header-toolbar {
		padding-right: 0;
	}

	.fc .fc-view-harness {
		overflow-x: auto;
	}

	.fc-view-harness .fc-timeGridWeek-view,
	.fc-view-harness .fc-dayGridMonth-view {
		width: 800px;
	}

	.block-data .top-panel .box-left .box-filter > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.block-data .top-panel .box-filter {
		width: 100%;
	}

	.box-filter .form-date {
		margin: 15px 0;
	}
}

@media (max-width: 576px) {
	.list-type .block-title > ul li:not(:last-child) {
		margin-right: 10px;
	}
}

.outer-table {
	position: relative;
}

.outer-table .scroll-button {
	position: sticky;
	z-index: 1111;
	top: 50%;
	display: flex;
	justify-content: space-between;
	margin: 0 -20px 0 -25px;
	height: 0;
}

@media (max-width: 1200px) {
	.outer-table .scroll-button {
		justify-content: space-between;
		margin: 0;
	}
}

.box-search {
	margin-bottom: 15px;
	position: relative;
	margin-right: 20px;
}

.box-search input {
	background: #fff;
}

.box-search button {
	position: absolute;
	top: 10px;
	right: 10px;
}
