.fw-regular {
 	font-weight: 400!important;
}
.main-content {
	padding-top: 60px
}
h2.block-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px
}
.form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}
.form-group label > span {
	color: #FF3333;
}
.form-group .list-radio {
	height: 40px
}
.my-profile {
	max-width: 1240px;
	margin: 0 auto
}
.my-profile .form-action li:not(:last-child) {
	margin-right: 15px;
}
.my-profile hr {
	margin-bottom: 15px;
	margin-top: -5px
}
.jsk-card {
	padding: 0;
}
.jsk-card .jsk-card--bg {
	background-color: #1C2964;
	height: 85px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: relative;
	z-index: 0
}
.jsk-card--pic {
	margin-top: -60px;
	padding-bottom: 20px;
	position: relative;
	display: grid;
	-ms-flex-align: center;
 	align-items: center;
	-ms-flex-pack: center;
    justify-content: center;
	text-align: center;
}
.mask-pic {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
 	align-items: center;
	-ms-flex-pack: center;
    justify-content: center;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	border-radius: 100%
}
.mask-pic img {
	max-width: 100%	
}
.jsk-card--pic .box-action {
	position: absolute;
	bottom: 0;
	right: 0;
}
.jsk-card--pic .box-action > a {
	width: 38px;
	height: 38px;
	border-radius: 100%;
	background: #fff;
	box-shadow: 4px 1px 10px 0px rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}
.jsk-card--pic .box-action .action-menu {
	position: absolute;
	top: 38px;
	right: -93px;
	width: max-content;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border: 1px solid #E4E4EF;
	background: #FFF;
	box-shadow: 0px 0px 15px 0px rgba(28, 41, 100, 0.20);
	padding: 12px 16px;
	display: none;
	z-index: 1;
}
.jsk-card--pic .box-action .action-menu .box-icon {
	width: 28px;
	height: 28px;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background: rgba(228, 228, 239, 0.40);
}
.jsk-card--pic .box-action .action-menu .box-text {
	padding-left: 8px;
	transition: all .3s;
}
.jsk-card--pic .box-action .action-menu ul li:not(:last-child) {
	margin-bottom: 10px;
}
.jsk-card--pic .box-action .action-menu .box-text:hover {
	color: var(--pink-cl);
}
.card-name {
	font-size: 20px;
	font-weight: 700
}
.job_vacancies_num {
	position: relative;
}
.job_vacancies_num .plus,
.job_vacancies_num .minus {
	position: absolute;
	right: 15px;
	cursor: pointer;
	line-height: 1;
	font-size: 0;
}
.job_vacancies_num .plus {
	top: 12px;
}
.job_vacancies_num .minus {
	top: 23px;
}
.marital-sts .item {
	-ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
@media only screen and (max-width: 767px) {
	.list-radio.marital-sts {
		height: auto
	}
	.marital-sts .item {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 10px!important;
		padding: 0
	}
	.social-network .col-4 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media only screen and (max-width: 375px) {
	.marital-sts .item {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
