.qr-code .block-1 .inner {
	padding-left: 30px;
	position: relative;
}

.qr-code .block-1 .inner:after {
	content: '';
	width: 5px;
	height: 100%;
	background: var(--pink-cl);
	position: absolute;
	left: 0;
	top: 0;
}

.qr-code .block-1 .inner ul {
	list-style: disc;
	padding-left: 20px;
}

.qr-code .block-1 .inner ul li:not(:last-child) {
	margin-bottom: 5px;
}

.qr-code .block-2 .form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
}

.qr-code .block-2 .form-group .form-select {
	width: 210px;
}

.qr-code .block-2 .form-group .form-select-sp {
	width: 350px;
}

.qr-code .block-2 .form-group .box-ckb {
	height: 40px;
	display: flex;
	align-items: center;
}

.qr-code .block-2 .form-group:not(:last-child) {
	margin-right: 20px;
}

.qr-code .block-2 .container-ckb {
	padding-left: 35px;
}

.qr-code .block-2 .top-filter {
	margin-bottom: 30px;
}

.qr-code .block-2 .top-filter .inner {
	margin-bottom: -20px;
}

.qr-code .block-2 .top-filter .inner .form-group {
	margin-bottom: 20px;
}

.list-qr-code .item:not(:last-child) {
	margin-bottom: 25px;
}

.list-qr-code .item {
	border-radius: 8px;
	border: 1px solid #E4E4EF;
	background: #FFF;
	box-shadow: 0px 0px 15px 0px rgba(28, 41, 100, 0.03);
	padding: 20px 210px 20px 50px;
	position: relative;
}

.list-qr-code .item .box-count {
	height: 100%;
	border-left: 1px solid #E4E4EF;
	position: absolute;
	top: 0;
	right: 0;
	width: 210px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.list-qr-code .item .box-count > * {
	display: block;
	width: 100%;
	text-align: center;
}

.list-qr-code .item .box-img {
	flex: 0 0 150px;
	max-width: 150px;
}

.list-qr-code .item .box-img img {
	max-width: 100%;
}

.list-qr-code .item .box-text {
	flex: 0 0 calc(100% - 150px);
	max-width: calc(100% - 150px);
	padding-left: 150px;
	padding-right: 20px;
}

.list-qr-code .item .box-text > * {
	margin-bottom: 5px;
}

.list-qr-code .item .box-text > button,
.list-qr-code .item .box-text > a {
	height: 40px;
	border: 1px solid var(--pink-cl);
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	font-weight: 600;
	color: var(--pink-cl);
	margin-top: 15px;
}

@media (max-width: 1600px) {
	.qr-code .block-2 .form-group .form-select-sp {
		width: 300px;
	}
}

@media (max-width: 1440px) {
	.list-qr-code .item {
		padding-left: 20px;
	}

	.list-qr-code .item .box-text {
		padding-left: 20px;
	}


	.qr-code .block-2 .inner {
		margin: 0 -10px;
	}

	.qr-code .block-2 .inner .form-group {
		margin-right: 0!important;
		padding: 0 10px;
		flex: 0 0 30%;
		max-width: 30%;
	}

	.qr-code .block-2 .inner .form-group .form-select {
		width: 100%;
	}

	.qr-code .block-2 .inner .form-group:first-child {
		flex: 0 0 40%;
		max-width: 40%;
	}

	.qr-code .block-2 .action {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.qr-code .block-2 .action .form-group {
		flex: 0 0 auto!important;
		max-width: inherit!important;
	}

	.qr-code .block-2 .top-filter .form-group.no-label > label {
		display: none;
	}


}

@media (max-width: 992px) {
	.qr-code .block-2 .form-group:not(:last-child) {
		margin-right: 15px;
	}

	.list-qr-code .item .box-count {
		width: 150px;
	}
}

@media (max-width: 767px) {
	.qr-code .block-2 .inner .form-group,
	.qr-code .block-2 .inner .form-group:first-child {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.qr-code .block-2 .form-group .form-select {
		width: 100%;
	}

	.qr-code .block-2 .top-filter .form-group.no-label > label {
		display: none;
	}

	.list-qr-code .item .box-count {
		width: auto;
		position: static;
	}

	.list-qr-code .item .box-text > button, .list-qr-code .item .box-text > a {
		margin-top: 10px;
	}

	.list-qr-code .item {
		padding-right: 20px;
	}

	.list-qr-code .item .box-count {
		flex-direction: row;
		justify-content: flex-start;
	}

	.list-qr-code .item .box-count > * {
		display: inline-block;
		width: auto;
		text-align: left;
	}

	.list-qr-code .item .box-count strong {
		margin-right: 10px;
	}
}

@media (max-width: 576px) {
	.list-qr-code .item .box-img,
	.list-qr-code .item .box-text {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}

	.list-qr-code .item .box-img {
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
	}
}