.table-responsive tr td:nth-child(1),
.table-responsive tr td:nth-child(4) {
	width: 30%;
}

.table-responsive tr td:nth-child(2),
.table-responsive tr td:nth-child(3) {
	width: 20%;
}

@media (max-width: 1439px) {
	.table-responsive tr td {
		width: 280px;
	}

	.table-responsive tr td > div {
		width: 250px;
	}
}