.d-block {
    display: block !important;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tab-content .btn-action {
    height: 30px;
    border: 1px solid #3E4B5E;
    color: #3E4B5E;
    background: #fff;
    border-radius: 8px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
}

.block-sumary {
    background: #1C2964;
    padding: 20px;
    border-radius: 8px;
  }
  
  .block-sumary > h2 {
    font-size: 20px;
    color: #fff;
  }
  
  .block-sumary .row {
    margin: 0 -10px -20px;
  }
  
  .block-sumary .row [class*="col"] {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  
  .block-sumary .item {
    border-radius: 8px;
    background: #F1FAFF;
    padding: 15px;
    height: 100%;
  }
  
  .block-sumary .item strong {
    font-size: 36px;
    font-weight: 600;
    color: #09589E;
  }
  
  .block-sumary .item > span {
    font-weight: 600;
    color: #09589E;
  }
  
  @media (max-width: 1800px) {
    .block-sumary .item strong {
      font-size: 32px;
    }
  }
  
  @media (max-width: 1600px) {
    .block-sumary .row [class*="col"] {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  
  @media (max-width: 767px) {
    .block-sumary .row [class*="col"] {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .block-sumary .item {
      padding: 12px;
    }
  
    .block-sumary .item svg {
      width: 40px;
      height: 40px;
    }
  
    .block-sumary .item strong {
      font-size: 20px;
    } 
  }
  
  .block-title h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .block-ct h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .block-title .btn-action {
    height: 30px;
    border: 1px solid #3E4B5E;
    color: #3E4B5E;
    background: #fff;
    border-radius: 8px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
  }
  
  .block-title .btn-action.active {
    border-color: var(--pink-cl);
    color: var(--pink-cl);
  }
  
  .block-title .btn-action:hover {
    color: var(--pink-cl);
    border-color: var(--pink-cl);
    background: #FFE0E7;
  }
  
  .block-title .btn-action svg * {
    transition: all .4s;
  }
  
  .block-title .btn-action:hover path {
    fill: none;
    stroke: var(--pink-cl);
  }
  
  .article .block-ct {
    height: 100%;
    margin-bottom: 0;
  }
  
  .article {
    margin-bottom: 25px;
  }
  
  .notes-chart {
    padding-left: 30px;
  }
  
  .notes-chart span {
    position: relative;
    padding-left: 25px;
  }
  
  .notes-chart span:after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .notes-chart span.note-1:after {
    background: #EE305B
  }
  
  .notes-chart span.note-2:after {
    background: #E8E6F1
  }
  
  .notes-chart span.note-3:after {
    background: #FFC700
  }
  
  .notes-chart span.note-4:after {
    background: #1C2964
  }
  
  .notes-chart span.note-5:after {
    background: #F76666
  }
  
  .notes-chart span.note-6:after {
    background: #09589E
  }
  
  .notes-chart ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .chart-member {
    padding-top: 20px;
  }
  
  .tab-responsive ul {
    padding-bottom: 10px;
  }
  
  .article-3 .inner {
    margin-bottom: -10px;
  }
  
  .article-3 .inner > * {
    margin-bottom: 10px;
  }
  
  .article-4 .tableFixHead {
    height: 325px;
    overflow-y: auto;
  }
  
  .article-4 .tabs-menu li a {
    border-radius: 32px;
    background: #FBFAFF;
    padding: 4px 8px;
  }
  
  .article-4 .tabs-menu li a svg {
    margin-right: 7px;
  }
  
  .article-4 .tabs-menu li:not(:last-child) {
    margin-right: 10px;
  }
  
  .article-4 .block-title .inner {
    margin-bottom: -7px;
  }
  
  .article-4 .block-title .inner > * {
    margin-bottom: 7px;
  }
  
  .article-4 .tabs-menu li.active a,
  .article-4 .tabs-menu li a:hover {
    background: #FFE0E7;
    color: var(--pink-cl);
    transition: all .4s;
  }
  
  .article-4 .tabs-menu li a svg *,
  .article-4 .tabs-menu li a {
    transition: all .4s;
  }
  
  .article-4 .tabs-menu li.active svg path,
  .article-4 .tabs-menu li a:hover svg path {
    fill: var(--pink-cl);
    stroke: var(--pink-cl);
  }
  
  @media (max-width: 1023px) {
    .notes-chart {
      padding-left: 0;
    }
  }
  
  @media (max-width: 576px) {
    .article-1 .inner > h2,
    .article-2 .inner > h2 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 5px;
    }
  }