.switch-box {
  position: relative;
}

.switch-box label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
}

.switch-box .slider {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 36px;
  height: 16px;
  border-radius: 20px;
  background: #ccc;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 3px;
}

.switch-box input {
  display: none;
}

.switch-box .slider::before {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: white;
  content: "";
  transition: 0.4s;
}

.switch-box input:checked {
  transition: 400ms;
}

.switch-box input:checked~.slider {
  background: var(--pink-cl);
  transition: 0.4s;
}

.switch-box input:checked~.slider::before {
  transform: translate(18px, -50%);
}

.switch-box strong {
  flex: 0 0 calc(100% - 36px);
  max-width: calc(100% - 36px);
  padding-left: 15px;
}

.switch-area strong {
  margin-right: 40px;
}

.wrapper .block-ct .box-right {
  flex: 0 0 400px;
  max-width: 400px;
}

.wrapper .block-ct .box-left {
  flex: 0 0 calc(100% - 400px);
  max-width: calc(100% - 400px);
  padding-right: 40px;
}

.article>h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E4E4EF;
}

.update-ct .form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.update-ct .form-group {
  margin-bottom: 20px;
}

.update-ct .form-group>label {
  flex: 0 0 200px;
  max-width: 200px;
  font-weight: 600;
}

.update-ct .form-group .input-area {
  flex: 0 0 calc(100% - 200px);
  max-width: calc(100% - 200px);
}

.block-ct .box-right img {
  margin: 0 auto 20px auto;
  display: block;
}

.block-ct .box-right ul li * {
  font-weight: 600;
}

.block-ct .box-right ul li:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E4E4EF;
}

.payment-info {
  margin-top: 20px;
}

.payment-info>h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 1440px) {
  .wrapper .block-ct .box-right {
    flex: 0 0 300px;
    max-width: 300px;
  }

  .wrapper .block-ct .box-left {
    flex: 0 0 calc(100% - 300px);
    max-width: calc(100% - 300px);
    padding-right: 20px;
  }
}

@media (max-width: 992px) {

  .wrapper .block-ct .box-right,
  .wrapper .block-ct .box-left {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wrapper .block-ct .box-right {
    order: 1;
    margin-bottom: 30px;
  }

  .wrapper .block-ct .box-left {
    order: 2;
  }
}

@media (max-width: 576px) {

  .update-ct .form-group>label,
  .update-ct .form-group .input-area {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .update-ct .form-group>label {
    margin-bottom: 7px;
  }
}