.block-ct .inner {
	max-width: 1075px;
	margin: 0 auto;
}

.block-update > h2 {
	font-weight: 600;
	font-size: 20px;
	border-bottom: 1px solid #E4E4EF;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.block-update .form-group {
	margin-bottom: 25px;
}

.block-update .form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
}

.block-update .form-group.sp {
	display: flex;
	flex-wrap: wrap;
}

.block-update .form-group.sp > label {
	flex: 0 0 100px;
	max-width: 100px;
}

.block-update .form-group.sp .input-area {
	flex: 0 0 calc(100% - 100px);
	max-width: calc(100% - 100px);
	padding-top: 3px;
}

.block-update .form-group.sp .input-area .list-radio .item:not(:last-child) {
	margin-bottom: 15px;
}

.list-temp .row {
	margin-left: -50px;
	margin-right: -50px;
}

.list-temp .row [class*="col-"] {
	padding: 0 50px;
}

.list-temp .temp-item {
	text-align: center;
	height: 100%;
	position: relative;
	padding-bottom: 35px;
}
.list-temp .temp-item .box-img img {
	max-width: 100%
}

.list-temp .temp-item .container-radio {
	display: inline-block;
}

.list-temp .temp-item .box-radio {
	margin-bottom: 15px;
}

.list-temp .temp-item .temp-item img {
	max-width: 100%;
}

.list-temp .temp-item .box-review {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.list-temp .temp-item .box-review a {
	border-radius: 8px;
	border: 1px solid #3E4B5E;
	background: #FFF;
	padding: 0 15px;
	height: 30px;
	display: flex;
	align-items: center;
	transition: all .4s;
}

.list-temp .temp-item .box-review a:hover {
	border: 1px solid #09589E;
	background: rgba(9, 88, 158, 0.15);
}

.box-upload .file-upload > a {
	border-radius: 8px;
	border: 1px dashed rgba(62, 75, 94, 0.20);
	background: #FBFAFF;
	height: 50px;
}

.img-uploaded .thumb-img {
	padding-top: 0;
	height: 185px;
}

.block-update .block-title {
	margin-bottom: 15px;
}

.block-update .block-title .box-text h3 {
	font-weight: 600;
}

.block-update .block-title .box-text p {
	font-size: 12px;
	color: rgba(36, 40, 64, 0.70);
}

.block-update .block-text .box-right {
	flex: 0 0 150px;
	flex: 0 0 150px;
    max-width: 150px;
    padding-left: 20px;
    position: relative;
    top: 25px;
}

.block-update .block-text .box-left {
	flex: 0 0 calc(100% - 150px);
	max-width: calc(100% - 150px);
}

.switch-box {
  position: relative;
}

.switch-box label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.switch-box .slider {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 36px;
    height: 16px;
    border-radius: 20px;
    background: #ccc;
    cursor: pointer;
    transition: 0.4s;
}

.switch-box input {
  display: none;
}

.switch-box .slider::before {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    position: absolute;
    top: 50%;
    left: 2px;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: white;
    content: "";
    transition: 0.4s;
}

.switch-box input:checked {
  transition: 400ms;
}

.switch-box input:checked ~ .slider {
    background: var(--pink-cl);
    transition: 0.4s;
}

.switch-box input:checked ~ .slider::before {
    transform: translate(18px, -50%);
}
.switch-box .text:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  content: "Off";
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  color: var(--main-cl);
  font-weight: normal;
}

.switch-box .text:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  content: "On";
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  color: var(--main-cl);
  font-weight: normal;
}

.switch-box input + .slider + .text:after {
  opacity: 1;
}

.switch-box input + .slider + .text:before {
  opacity: 0;
}

.switch-box input:checked + .slider + .text:after {
  opacity: 0;
}

.switch-box input:checked + .slider + .text:before {
  opacity: 1;
}

.switch-area strong {
  margin-right: 40px;
}

@media (max-width: 1600px) {
	.list-temp .row {
		margin-left: -12.5px;
		margin-right: -12.5px;
	}

	.list-temp .row [class*="col-"] {
	    padding: 0 12.5px;
	}
}

@media (max-width: 992px) {
	.list-temp .row [class*="col-"] {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (max-width: 576px) {
	.list-temp .row [class*="col-"] {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.list-temp .temp-item img {
		width: 100%;
	}

	.block-update .block-text .box-left,
	.block-update .block-text .box-right {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}

	.block-update .block-text .box-right {
		margin-bottom: 20px;
	}
}

.insert-pic-modal {
  width: 750px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    color: white;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px dashed rgba(62, 75, 94, 0.20);
    background: #FBFAFF;
}

.inputfile + label em {
  width: 26px;
  height: 26px;
  background: var(--pink-cl);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 auto;
}

.inputfile + label span {
  color: var(--main-cl);
  margin-top: 5px;
}

.insert-pic-modal .tabs-wrapper ul {
  padding-bottom: 30px;
  margin-bottom: -10px;
}

.insert-pic-modal .tabs-wrapper ul li {
  margin-bottom: 10px;
}

.insert-pic-modal .tabs-wrapper ul li a {
  font-weight: 600;
  transition: all .4s;
  position: relative;
  padding: 0 10px 5px;
  display: inline-block;
}

.insert-pic-modal .tabs-wrapper ul li:not(:last-child) {
  margin-right: 20px;
}

.insert-pic-modal .tabs-wrapper ul li.active a:after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--pink-cl);
    position: absolute;
    bottom: 0;
    left: 0;
}

.insert-pic-modal .tabs-wrapper ul li a svg * {
  transition: all .4s;
}

.insert-pic-modal .tabs-wrapper ul li.active a,
.insert-pic-modal .tabs-wrapper ul li a:hover {
  color: var(--pink-cl);
}

.insert-pic-modal .tabs-wrapper ul li a:hover svg path, 
.insert-pic-modal .tabs-wrapper ul li.active a svg path {
    fill: var(--pink-cl);
}

.insert-pic-modal .list-img .col-img {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.insert-pic-modal .list-img .item-img {
  border-radius: 8px;
  border: 1px solid #F0EDFF;
  background: #FFF;
}

.insert-pic-modal .list-img .item-img .thumb-img {
  padding-top: 65%;
}

.insert-pic-modal .list-img .item-img .choose-img {
  padding: 20px;
}

.insert-pic-modal .list-img .item-img .action {
  position: relative;
  margin: 15px 0 0 0;
}

.insert-pic-modal .list-img .item-img .container-radio {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.insert-pic-modal .list-img .item-img .preview {
  border-top: 1px solid #F0EDFF;
  text-align: center;
  padding: 10px 0;
  margin-top: 15px;
  background: #FBFAFF;
  border-radius: 0 0 8px 8px;
}

.insert-pic-modal .pagination {
  margin-top: 30px;
}

.insert-pic-modal .block-upload .box-left {
  flex: 0 0 240px;
  max-width: 240px;
}

.insert-pic-modal .block-upload .box-left .box-upload {
  flex: 0 0 100px;
  max-width: 100px;
}

.insert-pic-modal .block-upload .box-left .box-text {
  flex: 0 0 calc(100% - 100px);
  max-width: calc(100% - 100px);
  padding-right: 30px;
}

.insert-pic-modal .block-upload .box-left .box-text p {
  font-size: 12px;
  color: rgba(36, 40, 64, 0.70);
}

.insert-pic-modal .block-upload .box-right {
  flex: 0 0 calc(100% - 240px);
  max-width: calc(100% - 240px);
  padding-left: 16px;
}

.insert-pic-modal .list-uploaded {
  margin: 0 -10px -20px -10px;
}

.insert-pic-modal .list-uploaded .col-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 10px;
}

.insert-pic-modal .list-uploaded .item {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.insert-pic-modal .list-uploaded .item .thumb-img {
  padding-top: 0;
  height: 100px;
  position: relative;
}

.insert-pic-modal .list-uploaded .item  > a {
  position: absolute;
  top: 0px;
  right: 6px;
}

.insert-pic-modal .list-radio {
  width: 100%;
}

.insert-pic-modal .list-radio .row-radio.link .input-link {
  margin-left: 30px;
  margin-top: 10px;
}

.insert-pic-modal .inputfile + label {
  width: 135px;
  height: 50px;
}

.insert-pic-modal .file-upload {
  display: flex;
  justify-content: flex-end;
}

.insert-pic-modal .file-upload .desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.insert-pic-modal .inputfile + label span {
  margin-top: 0;
  margin-left: 10px;
}

.insert-pic-modal .container-radio p {
  max-width: 270px;
  font-size: 12px;
  color: rgba(36, 40, 64, 0.70);
  font-weight: normal;
}

.insert-pic-modal .container-radio {
  font-weight: 600;
}

.insert-pic-modal .box-file-upload p {
  text-align: right;
  margin-top: 10px;
}

.insert-pic-modal .row-radio.link {
  margin-top: 30px;
}

.insert-pic-modal .btn-st1 {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .insert-pic-modal .block-upload .box-left,
  .insert-pic-modal .block-upload .box-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .insert-pic-modal .block-upload .box-right {
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .insert-pic-modal .list-img .col-img {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .insert-pic-modal .list-radio .upload > [class*="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .insert-pic-modal .file-upload {
    justify-content: flex-start;
    padding-left: 30px;
  }

  .insert-pic-modal .box-file-upload p {
    text-align: left;
    padding-left: 30px;
  }
}

@media (max-width: 400px) {
  .insert-pic-modal .list-uploaded .col-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
  }
}