.report-customization {
	margin-bottom: 25px;
}

.report-customization .wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

.block-notes {
	border-radius: 8px;
	background: #F0EDFF;
	padding: 10px;
	font-weight: 600;
}

.action {
	margin-top: 25px;
}

.form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
}

.tab2-ct .table-responsive tr td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.tab2-ct .table-responsive tr td:last-child {
	width: 200px;
}

.tab2-ct .table-responsive .box-data-2 {
	width: 170px;
}

.tab2-ct .table-responsive .box-data-2 .form-select:hover,
.tab2-ct .table-responsive .box-data-2 .form-select:focus {
	box-shadow: none;
}

.tab2-ct .table-responsive .box-data-2 .form-select {
	border: none;
	background-color: inherit;
}

.block-intro {
	border-radius: 8px;
	background: #FBFAFF;
	padding: 12px 20px;
}

.block-intro p {
	position: relative;
	padding-left: 20px;
}

.block-intro p:after {
	content: '';
	width: 5px;
	height: 100%;
	background: var(--pink-cl);
	position: absolute;
	left: 0;
	top: 0;
}

.block-intro span {
	display: block;
}

.tab1-ct .block-intro > .form-group {
	margin-top: 20px;
}

.tab1-ct .block-intro .box-search {
	position: relative;
}

.tab1-ct .block-intro .box-search button {
	position: absolute;
	top: 12px;
	right: 10px;
}

.tab1-ct .block-intro .box-search input {
	padding-right: 30px;
}

.multiselect-area .row {
	margin: 0 -40px;
	position: relative;
}

.multiselect-area .row .col-6 {
	padding: 0 40px;
}

.multiselect-area .row .col-6 > * {
	height: 100%;
}

.multiselect-area .row .col-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 111;
}

.multiselect-area .row .col-button > * {
	display: block;
}

.multiselect-area .row .col-button button svg * {
	transition: all .4s;
}

.multiselect-area .row .col-button button rect.bg-button {
	opacity: 0;
}

.multiselect-area .row .col-button button:hover svg rect.bg-button {
	opacity: 1;
}

.multiselect-area .row .col-button button:hover path {
	fill: #ffffff;
}

.multiselect-area .row .col-button button:hover svg rect.border-button {
	stroke: var(--pink-cl);
}

.multiselect-area .row  p {
	margin-bottom: 10px;
}

.list-select select {
	height: 400px;
	overflow-y: auto;
}

.outer-list {
	padding-top: 10px;
	border-radius: 8px;
	border: 1px solid #E4E4EF;
	background: #FFF;
}

.list-select select {
	width: 100%;
	border: none;
	outline: none;
	padding: 0 20px 10px;
	border-radius: 8px;
}

div::-webkit-scrollbar, 
select::-webkit-scrollbar {
	width: 4px;
}

.list-select select option,
.list-select select optgroup {
	border-bottom: 1px dashed #E4E4EF;
	color: var(--main-cl);
}

.list-select select option:first-child {
	border-top: 1px dashed #E4E4EF;
	margin-top: 10px;
}

.list-select select optgroup {
	padding-top: 10px;
}

.list-select select option {
	padding: 10px 0 10px 20px;
}

.tab3-ct .table-block-row table tr td {
	border: none;
	padding: 0 7.5px 2px;
	width: 16.666%;
}

.tab3-ct .table-block-row table tr td > div {
	width: 100%;
}

.tab3-ct .table-block-row table tr td:first-child {
	padding-left: 1px;
}

.tab3-ct .table-block-row table tr td:last-child {
	padding-right: 1px;
}

.tab3-ct .table-block-row table tr.space td {
	padding: 9px 0;
}

.tab3-ct .form-select:hover,
.tab3-ct .form-control:hover {
	box-shadow: 0px 0px 0px 1px #8389A9;
}

.tab3-ct .form-select:focus,
.tab3-ct .form-control:focus {
    box-shadow: 0px 0px 0px 1px #1C2964;
}

.tab3-ct .table-responsive table tbody tr:nth-child(even) {
	background: #fff;
}

.block-add {
	border-radius: 8px;
	border: 1px dashed rgba(62, 75, 94, 0.20);
	padding: 12px;
	margin-top: 40px;
}

.tab4-ct .list-form-group .form-group > label,
.tab4-ct .form-radio .col-radio > label {
	margin-bottom: 7px;
	font-weight: 600;
}

.tab4-ct .list-form-group .form-group {
	margin-bottom: 30px;
}

.tab4-ct .form-radio .col-radio:not(:last-child) {
	margin-right: 180px;
}

.tab4-ct .form-radio .col-radio .list-radio .item:not(:last-child) {
	margin-right: 70px;
}

.tab4-ct .list-form-group {
	border-bottom: 1px solid #E4E4EF;
	margin-bottom: 30px;
}

.list-form-action button:not(:last-child) {
	margin-right: 10px;
}

.list-form-action button {
	font-size: 12px;
	height: 32px;
	font-weight: bold;
	padding: 0 20px;
}

.list-form-action button.btn-st3 {
	background: #fff;
	border: 1px solid var(--pink-cl);
	background: none!important;
}

@media (max-width: 1600px) {
	.tab3-ct .table-block-row table tr td,
	.tab3-ct .table-block-row table tr td > div {
		width: 250px;
	}

}

@media (max-width: 992px) {
	.tab-ct .top-panel .inner > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.tab-ct .top-panel .page-number {
		justify-content: flex-end;
		margin-top: 5px;
	}
}

@media (max-width: 767px) {
	.tab2-ct .table-responsive tr td:first-child {
		width: 350px;
	}

	.tab2-ct .table-responsive .box-data-1 {
		width: 320px;
	}

	.tab4-ct .form-radio .col-radio {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.tab4-ct .form-radio .col-radio:not(:last-child) {
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.tab4-ct .form-radio .col-radio .list-radio .item:not(:last-child) {
		margin-right: 70px;
	}

	.multiselect-area .row {
		margin-left: 0;
		margin-right: 0;
	}

	.multiselect-area .row .col-6 {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}

	.multiselect-area .row .col-button {
		position: static;
		transform: none;
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 0 auto 20px;
	}

	.list-select select {
		height: 250px;
	}
}

@media (max-width: 576px) {
	.list-form-action button {
		margin-right: 0!important;
		width: 100%;
	}

	.list-form-action button:not(:last-child) {
		margin-bottom: 15px;
	}
}

/*warning-modal*/
.warning-modal {
	width: 540px;
}

.warning-modal .modal-body p:not(:last-child) {
	margin-bottom: 20px;
}

/*run report modal*/
.table-responsive .ui-multiselect {
	width: 100%!important;
}

.run-report-modal {
	width: 550px;
}

.run-report-modal .form-group {
	margin-bottom: 25px;
}

.run-report-modal .form-group > label {
	font-weight: 600px;
	margin-bottom: 7px;
}

.input-area.active {
	padding-bottom: 150px;
}

.noti-warning-modal-1 {
	width: 350px;
}