.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.d-block {
  display: block !important;
}
.bgBox {
	background-color: var(--dark-blue-cl);
	border-radius: 8px;
	padding: 30px;
	height: 100%
}
.ApplicationsReceived {
	background-color: #FFF5F8;
	color: var(--pink-cl);
	border-radius: 8px;
	padding: 15px;
	height: 100%
}
.EmailsSent {
	background-color: #F1FAFF;
	color: #2E6986;
	border-radius: 8px;
	padding: 15px;
	height: 100%
}
.boxMainTop h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: normal; 
	color: #fff;
	margin-bottom: 20px
}
.boxMainTop .number {
	font-size: 36px;
	font-weight: 600
}
.boxMainTop p {
	font-size: 15px;
	margin-top: 10px
}
.DateRange label {
	font-weight: 600;
	margin-bottom: 5px;
	color: #fff
}
.DateRange .form-action li, .DateRange .form-action .btn-st1 {
	width: 100%
}

.top-panel .left-action .item:not(:last-child) {
  margin-right: 12px;
}
.top-panel .btn-action {
	height: 30px;
	border: 1px solid #3E4B5E;
	color: #3E4B5E;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
	transition: all .4s;
	font-size: 12px
}
.top-panel .btn-action.active {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}
.top-panel .btn-action:hover,
.top-panel .btn-action:active {
	color: var(--pink-cl);
	border-color: var(--pink-cl);
	background: #FFE0E7;
}
.top-panel .btn-action:hover svg.has-stroke path,
.top-panel .btn-action.active svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}
.block-title {
	margin-bottom: 20px
}
.block-title h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: normal; 
}
@media only screen and (max-width: 1649px) {
	.summary .col-sm-6 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media only screen and (max-width: 414px) {
	.block-title h2 {
		margin-bottom: 10px
	}
}
