.job-management-add-new .wrapper {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}

.job-management-add-new .block-ct {
    padding-left: 80px;
    padding-right: 80px;
}

.job-management-add-new .block-ct .form-group>label {
    font-weight: 600;
    margin-bottom: 7px;
}

.panel-action {
    margin-top: -10px;
}

.panel-action .container-ckb {
    padding-left: 30px;
}

.row.add-data {
    margin-top: 25px;
}

.panel-action .action>a em {
    color: #fff;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pink-cl);
    border-radius: 50%;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

/* custom field */
.form-customize {
    margin-top: 20px;
    margin-bottom: 24px;
}

.form-customize .form-group .label {
    height: 40px;
    display: flex;
    align-items: center;
}
  
.form-customize .form-group .label > label {
    margin-bottom: 7px;
    font-weight: 600;
}
.form-customize .list-ckb {
    margin-bottom: 15px
}

.form-customize .list-ckb .item:not(:last-child),
.form-customize .list-radio .item:not(:last-child) {
    margin-right: 30px;
}

.form-customize .list-ckb,
.form-customize .list-radio {
    height: 40px;
    align-items: center;
}

.form-customize .list-ckb .container-ckb {
    padding-left: 30px;
    padding-bottom: 10px;
}


.form-customize .form-date .input-area {
    padding-left: 0;
}

.form-customize .row-date {
    padding-left: 45px;
}

.form-customize .row-date .col-6:first-child .form-date .label {
    margin-left: -45px;
}

.switch-box {
    position: relative;
}

.switch-box label {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

.switch-box .slider {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 36px;
    height: 16px;
    border-radius: 20px;
    background: #ccc;
    cursor: pointer;
    transition: 0.4s;
    margin-right: 10px;
}

.switch-box input {
    display: none;
}

.switch-box .slider::before {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    position: absolute;
    top: 50%;
    left: 2px;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: white;
    content: "";
    transition: 0.4s;
}

.switch-box input:checked {
    transition: 400ms;
}

.switch-box input:checked ~ .slider {
    background: var(--pink-cl);
    transition: 0.4s;
}

.switch-box input:checked ~ .slider::before {
    transform: translate(18px, -50%);
}

.tip-white {
    width: max-content;
    max-width: 400px;
}

.list-add-address {
    width: 100%;
}

