.setting .table-responsive .btn-edit,
.setting .table-responsive .btn-edit svg * {
	transition: all .4s;
}

.setting .table-responsive .btn-edit:hover {
	color: var(--pink-cl);
}

.setting .table-responsive .btn-edit:hover svg path {
	stroke: var(--pink-cl);
    fill: none;
}

.setting .table-responsive .icon-edit {
	margin-right: 15px;
}

.setting .table-responsive tr td:last-child {
	width: 120px;
}

.setting .table-responsive-1 .box-data-3,
.setting .table-responsive-2 .box-data-4 {
	width: 90px;
}

.setting .table-responsive-2 tr td:nth-child(3) {
	width: 230px;
}

.setting .table-responsive-2 .box-data-3 {
	width: 200px;
}

.priority.rank-1 {
	color: #FF2458;
}

.priority.rank-2 {
	color: #FFC700;
}

.priority.rank-3 {
	color: #09589E;
}

.edit-setting-modal {
	width: 620px;
}

.edit-setting-modal .form-group {
	margin-bottom: 25px;
}

.edit-setting-modal .form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
}

@media (max-width: 1200px) {
	.setting .table-responsive-1 tr td {
		width: 400px;
	}

	.setting .table-responsive-1 .box-data-1,
	.setting .table-responsive-1 .box-data-2,
	.setting .table-responsive-2 .box-data-1,
	.setting .table-responsive-2 .box-data-2 {
		width: 370px;
	}

	.setting .table-responsive tr td:last-child {
		width: 120px;
	}

	.setting .table-responsive-1 .box-data-3 {
		width: 90px;
	}

	.setting .table-responsive-2 tr td:nth-child(3) {
		width: 230px;
	}

	.setting .table-responsive-2 .box-data-3 {
		width: 200px;
	}
}