.text-center {
  text-align: center !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.list-style-disc {
	list-style: disc!important
}
.top-panel * {
	font-size: 12px;
}
.top-panel .left-action select {
	color: #3E4B5E;
	font-weight: 600;
}
.top-panel .left-action .list-item .item:not(:last-child) {
	margin-right: 8px;
}
.top-panel .box-right .page-number span,
.top-panel .box-right .page-number {
	font-size: 14px;
}
.top-panel .btn-action {
	height: 30px;
	border: 1px solid #3E4B5E;
	color: #3E4B5E;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
	transition: all .4s;
}
.top-panel .btn-action.active {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}
.top-panel .btn-action:hover,
.top-panel .btn-action:active {
	color: var(--pink-cl);
	border-color: var(--pink-cl);
	background: #FFE0E7;
}

.top-panel .btn-action:hover svg.has-stroke path,
.top-panel .btn-action.active svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}
#search-collapse, .search-extend {
	display: none;
}
.search-extend .form-control {
	border-radius: 8px;
	border: 1px solid #F0EDFF;
	background: #FBFAFF;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 15px;
	outline: none;
	width: 100%;
}

.search-extend .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}

.search-extend .box-keyword {
	margin-bottom: 15px;
}

.search-extend .box-keyword .input-area {
	position: relative;
}

.search-extend .box-keyword .input-area .clear {
	position: absolute;
	right: 15px;
	top: 10px;
	display: none;
}

.search-extend .box-keyword .input-area .clear.active {
	display: inline-block;
}

.search-extend .box-keyword .form-control:focus {
	background: #fff;
	box-shadow: 0px 0px 0px 2px #1C2964;
}

.search-extend .panel-action {
	margin-bottom: 25px;
}

.search-extend .box-detail:after {
	content: '';
    width: 27px;
    height: 15px;
    background: url(../images/arrow-top.png) no-repeat;
    position: absolute;
    top: -15px;
    right: 60px;
}
.search-extend .box-date {
	position: relative;
}
.search-extend .box-date img {
	position: absolute;
	top: 12px;
	right: 15px;
}
.task-logs .top-panel {
	margin-bottom: 15px
}
.task-logs .box-data-1 {
	width: 200px;
}
.task-logs .box-data-2 {
	width: 300px;
}
.task-logs .box-data-3 {
	width: 450px;
}

.task-logs .form-action li:not(:last-child) {
	margin-right: 8px;
}
.task-logs .form-action button {
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 30px;
	border-radius: 8px;
	background: var(--pink-cl);
	font-size: 16px
}
.task-logs .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}
.task-logs .table-block-row table tr td.nodata {
	border-radius: 8px!important
}
.task-logs .table-block-row.table-responsive table tbody tr.space {
	background-color: inherit
}
