ul { padding: 0 }
li { list-style: none }

/*Font CV*/
.fontCVRoboto { font-family: 'Arial'!important }
.fontCVsize14, .fontCVsize14 .content_fck { font-size: 14px!important }

.editCVtemplate-wrapper { width: 845px; margin: 0 auto }
.cv-template-wrapper { float: left; width: 100%; height: 850px; display: table; overflow: hidden; color: #58595b; background-color: #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2) }
.cv-template-wrapper .subCVpage { display: flex }
.cv-template-wrapper .content_fck p { padding: 0 0 10px!important; margin: 0!important }
.text-edt .title { font-weight: bold; margin-bottom: 5px }

.cv-template-1 header h2 { font-size: 33px; font-weight: bold; margin: 0; padding: 25px 0 0 0 }
.cv-template-1 header h4 { font-size: 14px; font-weight: normal; margin: 0; padding: 5px 0 0 0 }
.cv-template-1 h3 { float: left; width: 100%; clear: both; font-size: 20px; font-weight: bold; margin: 15px 0; padding: 0; text-transform: uppercase }
.cv-template-1 ul, .text-edt { float: left; width: 100%; margin-top: 0 }
.cv-template-1 ul li { display: flex; margin-bottom: 10px }
.cv-template-1 ul li:last-child { margin-bottom: 0 }
.cv-template-1 .left-col { display: table-cell; vertical-align: top; width: 220px; height: 850px; overflow: hidden; padding: 40px 25px; color: #fff }
.cv-template-1 .left-col header, .cv-template-1 .right-col header { margin-bottom: 40px; height: 140px }
.cv-template-1 .left-col header { width: 100%; text-align: center }
.cv-template-1 .left-col header img { width: 140px; height: 140px; border-radius: 140px; -webkit-box-radius: 140px; -moz-box-radius: 140px; box-shadow: -5px 8px 8px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: -5px 8px 8px 0 rgba(0, 0, 0, 0.5); -moz-box-shadow: -5px 8px 8px 0 rgba(0, 0, 0, 0.5) }
.cv-template-1 ul.skill { margin-top: 0 }
.cv-template-1 ul.skill li { -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 20px }
.cv-template-1 ul.skill li:last-child { margin-bottom: 0 }
.cv-template-1 ul.skill .field-title { margin-bottom: 15px }
.cv-template-1 ul.skill .field-title, .cv-template-1 ul.skill .item { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100% }
.cv-template-1 ul.skill .item { margin-bottom: 10px }
.cv-template-1 .right-col { display: table-cell; width: 495px; padding: 40px; height: 850px; overflow: hidden; vertical-align: top }
.cv-template-1 .right-col h5 { font-size: 13px; font-weight: bold; margin-bottom: 10px }
.cv-template-1 ul.personal li label { float: left; width: 190px; position: relative; font-weight: normal; line-height: normal; padding-right: 5px; margin-bottom: 0 }
.cv-template-1 ul.personal li label:after { position: absolute; right: 5px; top: 0; content: ":" }
.cv-template-1 ul.personal li .annou { float: left; width: calc(100% - 195px) }
.cv-template-1 ul.contact li { display: table-row }
.cv-template-1 ul.contact .icon-contact { display: table-cell; vertical-align: middle; width: 20px; padding-right: 5px; padding-bottom: 10px }
.cv-template-1 ul.contact .icon-contact img { width: 16px }
.cv-template-1 ul.contact .txt { float: left; width: 195px; word-wrap: break-word; padding-bottom: 10px }
.cv-template-1 ul.custom_field li { margin-bottom: 20px }
.cv-template-1 ul.custom_field li:last-child { margin-bottom: 0 }
.cv-template-1 ul.custom_field .ul-sub li { margin-bottom: 10px }

/*CV color theme*/
.cv-template-1 h3, .cv-template-1.footer-pdf .name2 { color: #FCB617 }
.cv-template-1 .left-col { background-color: #2A7BB8 }
.cv-template-1 .left-col h3, .cv-template-1 .left-col ul.contact, .cv-template-1 .left-col ul.skill { color: #fff }
