.import-candidate {
	margin-bottom: 25px;
}
.text-center {
  text-align: center !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.list-style-disc {
	list-style: disc!important
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
	border-color: #CCC8DA;
}

.ql-container.ql-snow {
	min-height: 100px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    color: white;
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px dashed rgba(62, 75, 94, 0.20);
    background: #FBFAFF;
}

.inputfile + label em {
	width: 26px;
	height: 26px;
	background: var(--pink-cl);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 20px;
}
.inputfile + label span {
	color: var(--main-cl);
	margin-left: 10px
}
.info-file {
	border-radius: 5px;
	border: 1px solid #E4E4EF;
	background-color: #FFF;
	height: 80px;
}
.limit-file {
	color: #7C8FAC;
	font-size: 12px;
	line-height: normal;
	text-align: center;
	margin-bottom: 20px
}
.import-candidate .form-control {
	border-radius: 8px;
	border: 1px solid #F0EDFF;
	background: #FBFAFF;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 15px;
	outline: none;
	width: 100%;
}

.import-candidate .input-area .box-ckb {
	margin-top: 10px;
}

.import-candidate .input-area .box-ckb .container-ckb {
	padding-left: 30px;
}

.import-candidate .box-date {
	position: relative;
}
.import-candidate .box-date img {
	position: absolute;
	top: 12px;
	right: 15px;
}
.import-candidate h2.block-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px
}
.import-candidate .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}
.import-candidate .list-radio {
	height: 40px
}
.import-candidate .form-action button {
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 30px;
	border-radius: 8px;
	background: var(--pink-cl);
	font-size: 16px
}
.import-candidate .form-action button.btn-cancel {
	border: 1px solid var(--gray-cl);
	background: none;
	color: rgba(62, 75, 94, 0.50);
}
.import-candidate .action {
  height: 40px;
}
.import-candidate .action em {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #fff;
	background: var(--pink-cl);
}
#delete-file {
	cursor: pointer
}

.import-candidate .form-group label > span {
	color: #FF3333;
}

.marital-status .item:not(:last-child) {
	margin-right: 120px;
}

.block-editor .btn-st1 {
	margin-top: 12px;
	display: inline-flex;
}

.block-ct.other-info .box-notes {
	margin-top: 10px;
}

.block-ct.other-info .info-file {
	position: relative;
	padding-right: 70px;
}

.block-ct.other-info .info-file .text-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
}

.avatar-area .box-avatar {
	flex: 0 0 85px;
	max-width: 85px;
}

.avatar-area .box-avatar .thumb-img {
	padding-top: 0;
	height: 105px;
}

.avatar-area .upload-avatar {
	flex: 0 0 calc(100% - 85px);
	max-width: calc(100% - 85px);
	padding-left: 30px;
}

.avatar-area .upload-avatar .btn-browser {
	max-width: 600px;
	width: 100%;
}

.block-education .table-responsive tr td:nth-child(6) {
	width: 180px;
}

.block-education .table-responsive .box-data-6 {
	width: 150px;
}

.block-education .table-responsive tr td:nth-child(5),
.block-education .table-responsive tr td:nth-child(4),
.block-education .table-responsive tr td:nth-child(3) {
	width: 210px;
}

.block-education .table-responsive .box-data-5,
.block-education .table-responsive .box-data-4,
.block-education .table-responsive .box-data-3 {
	width: 180px;
}

@media (max-width: 1600px) {
	.row > .col-lg-3,
	.block-ct.other-info .row > .col-lg-3 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}

	.block-education .table-responsive tr td:nth-child(5),
	.block-education .table-responsive tr td:nth-child(4),
	.block-education .table-responsive tr td:nth-child(3) {
		width: 230px;
	}

	.block-education .table-responsive .box-data-5,
	.block-education .table-responsive .box-data-4,
	.block-education .table-responsive .box-data-3 {
		width: 200px;
	}

	.block-education .table-responsive tr td:nth-child(2),
	.block-education .table-responsive tr td:nth-child(1) {
		width: 280px;
	}

	.block-education .table-responsive .box-data-2,
	.block-education .table-responsive .box-data-1 {
		width: 250px;
	}
}

@media (max-width: 1430px) {
	.row > .col-lg-3,
	.block-ct.other-info .row > .col-lg-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (max-width: 992px) {
	.marital-status .item {
		flex: 0 0 50%;
		max-width: 50%;
		margin-right: 0!important
	}
}

@media (max-width: 767px) {
	.row > .col-lg-3,
	.block-ct.other-info .row > .col-lg-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 576px) {
	.avatar-area .upload-avatar {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
	}

	.avatar-area .box-avatar {
		margin: 0 auto 15px;
	}
}

/*add content modal*/
.add-content-modal {
	width: 530px;
}

.add-content-modal .form-group {
	margin-bottom: 25px;
}

.add-content-modal .form-group > label {
	font-weight: 600;
	margin-bottom: 7px;
}

.add-content-modal .form-group .input-area > p {
	margin-top: 7px;
}

@media (max-width: 576px) {
	.add-content-modal .list-radio > * {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.add-content-modal .list-radio > *:not(:last-child) {
		margin-bottom: 12px;
	}
}