.text-center {
  text-align: center !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.list-style-disc {
	list-style: disc!important
}
.top-panel * {
	font-size: 12px;
}
.top-panel .left-action select {
	color: #3E4B5E;
	font-weight: 600;
}
.top-panel .left-action .list-item .item:not(:last-child) {
	margin-right: 8px;
}
.top-panel .box-right .page-number span,
.top-panel .box-right .page-number {
	font-size: 14px;
}
.top-panel .btn-action {
	height: 30px;
	border: 1px solid #3E4B5E;
	color: #3E4B5E;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
	transition: all .4s;
}

.top-panel .btn-action.btn-st1 {
	height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-radius: 8px;
    background: var(--pink-cl);
    transition: all .4s;
    color: #fff!important;
    border: none;
}

.top-panel .btn-action.btn-st1 svg {
	margin-right: 10px;
}

.top-panel .btn-action.active {
	border-color: var(--pink-cl);
	color: var(--pink-cl);
}
.top-panel .btn-action:hover,
.top-panel .btn-action:active {
	color: var(--pink-cl);
	border-color: var(--pink-cl);
	background: #FFE0E7;
}
.top-panel .btn-action svg * {
	transition: all .4s;
}
.top-panel .btn-action:hover svg path {
	fill: var(--pink-cl);
}
.top-panel .btn-action:hover svg.has-stroke path,
.top-panel .btn-action.active svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}

.top-panel .btn-action.btn-st1:hover svg path {
	fill: #fff;
}

#search-collapse, .search-extend {
	display: none;
}
.search-extend .form-control {
	border-radius: 8px;
	border: 1px solid #F0EDFF;
	background: #FBFAFF;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 15px;
	outline: none;
	width: 100%;
}

.search-extend .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}

.search-extend .box-keyword .input-area {
	position: relative;
}

.search-extend .box-keyword .input-area .clear {
	position: absolute;
	right: 15px;
	top: 10px;
	display: none;
}

.search-extend .box-keyword .input-area .clear.active {
	display: inline-block;
}

.search-extend .box-keyword .form-control:focus {
	background: #fff;
	box-shadow: 0px 0px 0px 2px #1C2964;
}

.search-extend .panel-action {
	margin-bottom: 25px;
}

.search-extend .box-detail:after {
	content: '';
    width: 27px;
    height: 15px;
    background: url(../images/arrow-top.png) no-repeat;
    position: absolute;
    top: -15px;
    right: 60px;
}
.search-extend .box-date {
	position: relative;
}
.search-extend .box-date img {
	position: absolute;
	top: 12px;
	right: 15px;
}

.users-management .top-panel {
	margin-bottom: 15px
}
.users-management .box-data-1 {
	width: 380px;
	word-break: break-all
}
.users-management .box-data-2 {
	width: 250px;
}
.users-management .box-data-3 {
	width: 120px;
}
.users-management .box-data-4 {
	width: 345px;
}

.users-management .box-data-4 .list-permission {
	margin: 0 -7.5px -15px;
}

.users-management .box-data-4 .list-permission li {
	flex: 0 0 120px;
	max-width: 120px;
	padding: 0 7.5px;
	margin-bottom: 15px;
	text-align: center;
}

.users-management .box-data-4 .list-permission li span {
	color: #31AA27;
	padding: 5px 15px;
	border-radius: 8px;
	background: #EBF6EB;
	-o-text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.users-management .box-data-4 .list-permission li.dot span {
	width: 50px;
}

.users-management .box-data-5 {
	width: 150px;
}
.users-management .box-data-6 {
	width: 160px;
}
.users-management .box-data-7{
	width: 120px;
}

.table-responsive table tr:first-child th:last-child h3 {
	text-align: center;
}

.users-management .box-data-8 {
	width: 100px;
	display: flex;
	justify-content: center;
}

.users-management .box-data-8 .box-text {
	font-weight: 400;
	text-align: left;
}

/*.top-panel .btn-action:hover svg.has-stroke path,
.top-panel .btn-action.active svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}*/

.users-management .box-data-8 .menu-extend a:hover svg.has-stroke path {
	stroke: var(--pink-cl);
	fill: none;
}

.table-responsive tr td {
	vertical-align: middle;
}

.users-management .form-action li:not(:last-child) {
	margin-right: 8px;
}
.users-management .form-action button {
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 30px;
	border-radius: 8px;
	background: var(--pink-cl);
	font-size: 16px
}
.users-management .form-group > label {
	font-weight: 600;
	margin-bottom: 5px;
}
.users-management .box-img {
	flex: 0 0 42px;
	max-width: 42px;
}
.users-management .box-text {
	flex: 0 0 calc(100% - 42px);
	max-width: calc(100% - 42px);
	padding-left: 15px;
	position: relative;
	font-weight: 600
}

@media (max-width: 1600px) {
	.search-extend .row .col-lg-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (max-width: 992px) {
	.top-panel .box-right {
		justify-content: flex-end;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.search-extend .row .col-lg-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.search-extend .row .col-lg-3:last-child label {
		display: none;
	}
}

.outer-table {
  position: relative;
}

.outer-table .scroll-button {
  position: sticky;
  z-index: 1111;
  top: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 -20px 0 -25px;
  height: 0;
}

@media (max-width: 1200px) {
  .outer-table .scroll-button {
    justify-content: space-between;
    margin: 0;
  }
}