.top-panel .form-group label {
  font-weight: 600;
  margin-bottom: 7px;
}

.top-panel .form-group .form-select-sp {
  width: 350px;
}

.top-panel .page-number {
  margin-top: 27px;
}


.table-responsive .box-data-1,
.table-responsive tr th:nth-child(1) h3 {
  width: 50px;
}

.table-responsive tr td:nth-child(1),
.table-responsive tr th:nth-child(1) {
  width: 80px;
}


.table-responsive tr td:nth-child(5),
.table-responsive tr th:nth-child(5) {
  width: 100px;
}

.table-responsive tr th:nth-child(5) h3,
.table-responsive .box-data-5 {
  width: 70px;
}

.table-responsive .box-data-2 ul {
  list-style: disc;
  padding-left: 16px;
  margin-top: 5px;
}

.table-responsive tr td:nth-child(4),
.table-responsive tr th:nth-child(4) {
  width: 200px;
}

.table-responsive .box-data-4,
.table-responsive tr th:nth-child(4) h3 {
  width: 170px;
}

.table-responsive tr td:nth-child(3),
.table-responsive tr th:nth-child(3) {
  width: 250px;
}

.table-responsive .box-data-3,
.table-responsive tr th:nth-child(3) h3 {
  width: 220px;
}

table.child {
  width: 100%;
}

table.child tr td:first-child {
  border-radius: 0!important;
}

table.child tr td:last-child {
  border-radius: 0!important;
}

table.child tr,
table.child tr td {
  border: none!important;
}

table.child tr:first-child td {
  border-top: 1px solid #E4E4EF!important;
}

table.child tr:first-child td:first-child {
  border-radius: 8px 0 0 0!important;
}

table.child tr:first-child td:last-child {
  border-radius: 0 8px 0 0!important;
}

table.child tr:last-child td {
  border-bottom: 1px solid #E4E4EF!important;
}

table.child tr:last-child td:first-child {
  border-radius: 0 0 0 8px!important;
}

table.child tr:last-child td:last-child {
  border-radius: 0 0 8px 0!important;
}

table.child tr td:first-child {
  border-left: 1px solid #E4E4EF!important;
}

table.child tr td:last-child {
  border-right: 1px solid #E4E4EF!important;
}

table.child tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

table.child tr:first-child td {
  padding-top: 20px;
}

table.child tr:last-child td {
  padding-bottom: 20px;
}

table.child tr {
  background: #fff!important;
}

.table-responsive tr.has-child > td {
  padding: 0;
  border: none!important;
}

@media (max-width: 1600px) {
  .table-responsive tr td:nth-child(2),
  .table-responsive tr th:nth-child(2) {
    width: 330px;
  }

  .table-responsive .box-data-2,
  .table-responsive tr th:nth-child(2) h3 {
    width: 300px;
  }
}


@media (max-width: 767px) {
  .top-panel .form-group .form-select-sp {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .top-panel > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .top-panel .form-group .form-select-sp,
  .top-panel .form-group {
    width: 100%;
  }

  .top-panel .page-number {
    margin-top: 10px;
  }
}
.update-category-modal {
    width: 550px;
}
.update-category-modal .form-group {
    margin-bottom: 20px;
}
.update-category-modal .form-group > label span {
    color: var(--red-cl);
}