.add-new-management {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
}

.block-head .block-upload .box-left {
  flex: 0 0 320px;
  max-width: 320px;
}

.block-head .block-upload .box-left p {
  color: rgba(36, 40, 64, 0.70);
  font-size: 12px;
}

.block-head .block-upload .box-text {
  flex: 0 0 190px;
  max-width: 190px;
}

.block-head .block-upload .box-upload {
  flex: 0 0 calc(100% - 190px);
  max-width: calc(100% - 190px);
  padding-left: 30px;
}

.block-upload .box-right {
  flex: 0 0 calc(100% - 320px);
  max-width: calc(100% - 320px);
  padding-left: 16px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    color: white;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px dashed rgba(62, 75, 94, 0.20);
    background: #FBFAFF;
}

.inputfile + label em {
  width: 26px;
  height: 26px;
  background: var(--pink-cl);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 auto;
}

.inputfile + label span {
  color: var(--main-cl);
  margin-top: 5px;
}

.list-uploaded .item {
    flex: 0 0 130px;
    max-width: 130px;
    margin-bottom: 20px;
    position: relative;
}

.list-uploaded .item .thumb-img {
    padding-top: 0;
    height: 100px;
    position: relative;
}

.list-uploaded {
  margin-bottom: -20px;
}

.list-uploaded .item > a {
    position: absolute;
    top: 0px;
    right: 6px;
}

.radio-area strong {
  flex: 0 0 220px;
  max-width: 220px;
}

.radio-area .list-radio {
  flex: 0 0 calc(100% - 220px);
  max-width: calc(100% - 220px);
}

.radio-area .list-radio .item:not(:last-child) {
  margin-right: 40px;
}

.block-upload.banner-img {
  margin-bottom: 40px;
}

.block-ct .form-group:not(:last-child) {
  margin-bottom: 20px;
}

.block-ct .form-group label {
  font-weight: 600;
  margin-bottom: 7px;
}

.block-ct .form-group label span {
  color: var(--red-cl);
}

.link-action {
  margin-top: 15px;
  margin-bottom: -10px;
}

.link-action ul li {
  margin-bottom: 10px;
}

.link-action ul li:not(:last-child) {
  margin-right: 40px;
}

.langall .block-form-en,
.langall .block-form-vi {
  display: block;
}

.langvi .block-form-en {
  display: none;
}

.langen .block-form-vi {
  display: none;
}

.insert-code-modal {
  width: 540px;
}

.insert-code-modal textarea {
  resize: none;
  min-height: 60px;
  padding-top: 15px;
}

.insert-code-modal .form-group label {
  font-weight: 600;
  margin-bottom: 7px;
}

.box-example strong {
  margin-bottom: 3px;
}

@media (max-width: 576px) {
  .block-head .block-upload .box-left,
  .block-upload .box-right,
  .radio-area strong,
  .radio-area .list-radio {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .block-upload .box-right,
  .radio-area .list-radio {
    margin-top: 15px;
  }

  .block-head .block-upload .box-upload {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
  }
}

.insert-pic-modal {
  width: 750px;
}

.insert-pic-modal .tabs-wrapper ul {
  padding-bottom: 30px;
  margin-bottom: -10px;
}

.insert-pic-modal .tabs-wrapper ul li {
  margin-bottom: 10px;
}

.insert-pic-modal .tabs-wrapper ul li a {
  font-weight: 600;
  transition: all .4s;
  position: relative;
  padding: 0 10px 5px;
  display: inline-block;
}

.insert-pic-modal .tabs-wrapper ul li:not(:last-child) {
  margin-right: 20px;
}

.insert-pic-modal .tabs-wrapper ul li.active a:after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--pink-cl);
    position: absolute;
    bottom: 0;
    left: 0;
}

.insert-pic-modal .tabs-wrapper ul li a svg * {
  transition: all .4s;
}

.insert-pic-modal .tabs-wrapper ul li.active a,
.insert-pic-modal .tabs-wrapper ul li a:hover {
  color: var(--pink-cl);
}

.insert-pic-modal .tabs-wrapper ul li a:hover svg path, 
.insert-pic-modal .tabs-wrapper ul li.active a svg path {
    fill: var(--pink-cl);
}

.insert-pic-modal .list-img .col-img {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.insert-pic-modal .list-img .item-img {
  border-radius: 8px;
  border: 1px solid #F0EDFF;
  background: #FFF;
}

.insert-pic-modal .list-img .item-img .thumb-img {
  padding-top: 65%;
}

.insert-pic-modal .list-img .item-img .choose-img {
  padding: 20px;
}

.insert-pic-modal .list-img .item-img .action {
  position: relative;
  margin: 15px 0 0 0;
}

.insert-pic-modal .list-img .item-img .container-radio {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.insert-pic-modal .list-img .item-img .preview {
  border-top: 1px solid #F0EDFF;
  text-align: center;
  padding: 10px 0;
  margin-top: 15px;
  background: #FBFAFF;
  border-radius: 0 0 8px 8px;
}

.insert-pic-modal .pagination {
  margin-top: 30px;
}

.insert-pic-modal .block-upload .box-left {
  flex: 0 0 240px;
  max-width: 240px;
}

.insert-pic-modal .block-upload .box-left .box-upload {
  flex: 0 0 100px;
  max-width: 100px;
}

.insert-pic-modal .block-upload .box-left .box-text {
  flex: 0 0 calc(100% - 100px);
  max-width: calc(100% - 100px);
  padding-right: 30px;
}

.insert-pic-modal .block-upload .box-left .box-text p {
  font-size: 12px;
  color: rgba(36, 40, 64, 0.70);
}

.insert-pic-modal .block-upload .box-right {
  flex: 0 0 calc(100% - 240px);
  max-width: calc(100% - 240px);
  padding-left: 16px;
}

.insert-pic-modal .list-uploaded {
  margin: 0 -10px -20px -10px;
}

.insert-pic-modal .list-uploaded .col-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 10px;
}

.insert-pic-modal .list-uploaded .item {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.insert-pic-modal .list-uploaded .item .thumb-img {
  padding-top: 0;
  height: 100px;
  position: relative;
}

.insert-pic-modal .list-uploaded .item  > a {
  position: absolute;
  top: 0px;
  right: 6px;
}

.insert-pic-modal .list-radio {
  width: 100%;
}

.insert-pic-modal .list-radio .row-radio.link .input-link {
  margin-left: 30px;
  margin-top: 10px;
}

.insert-pic-modal .inputfile + label {
  width: 135px;
  height: 50px;
}

.insert-pic-modal .file-upload {
  display: flex;
  justify-content: flex-end;
}

.insert-pic-modal .file-upload .desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.insert-pic-modal .inputfile + label span {
  margin-top: 0;
  margin-left: 10px;
}

.insert-pic-modal .container-radio p {
  max-width: 270px;
  font-size: 12px;
  color: rgba(36, 40, 64, 0.70);
  font-weight: normal;
}

.insert-pic-modal .container-radio {
  font-weight: 600;
}

.insert-pic-modal .box-file-upload p {
  text-align: right;
  margin-top: 10px;
}

.insert-pic-modal .row-radio.link {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .insert-pic-modal .block-upload .box-left,
  .insert-pic-modal .block-upload .box-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .insert-pic-modal .block-upload .box-right {
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .insert-pic-modal .list-img .col-img {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .insert-pic-modal .list-radio .upload > [class*="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .insert-pic-modal .file-upload {
    justify-content: flex-start;
    padding-left: 30px;
  }

  .insert-pic-modal .box-file-upload p {
    text-align: left;
    padding-left: 30px;
  }
  .insert-pic-modal .list-radio .upload > [class*="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .insert-pic-modal .file-upload {
    justify-content: flex-start;
    padding-left: 30px;
  }

  .insert-pic-modal .box-file-upload p {
    text-align: left;
    padding-left: 30px;
  }
}

@media (max-width: 400px) {
  .insert-pic-modal .list-uploaded .col-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
  }
}
.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
#frmNews label.container-ckb {
    padding-left: 27px;
}


/*crop-image-modal*/
.crop-image-modal {
  width: 860px;
}

.rcrop-wrapper img {
   width: 350px;
   height: 350px;
   object-fit: cover;
}

.image-wrapper {
  position: relative;
}

#custom-preview-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.image-wrapper p {
  margin-bottom: 7px;
}

.rcrop-wrapper .rcrop-outer {
  background: #000;
}

.image-wrapper .action {
  margin-top: 15px;
}

@media (max-width: 576px) {
  .rcrop-wrapper img {
     width: 300px;
     height: 300px;
     object-fit: cover;
  }

  #custom-preview-wrapper {
    position: static;
    top: 0;
    right: 0;
    margin-top: 20px;
  }

  .image-wrapper {
    text-align: center;
  }

  .image-wrapper .action ul {
    justify-content: center;
  }
}
