.top-panel .form-group label {
  font-weight: 600;
  margin-bottom: 7px;
}

.top-panel .form-group .form-select-sp {
  width: 350px;
}

.top-panel .page-number {
  margin-top: 27px;
}

.table-responsive .show-edit {
  display: none;
}

.table-responsive tr.edit .show-edit,
.table-responsive tr.edit .show-edit form {
  display: flex;
  width: 100%;
}

.table-responsive tr.edit .box-data-7 .btn-edit,
.table-responsive tr.edit .box-data-5 .text-link {
  display: none;
}

.table-responsive tr td:nth-child(1) {
  width: 70px;
}

.table-responsive .box-data-1 {
  width: 40px;
}

.table-responsive tr td:nth-child(2) {
  width: 150px;
}

.table-responsive .box-data-2 {
  width: 120px;
}

.table-responsive tr td:nth-child(3) {
  width: 200px;
}

.table-responsive .box-data-3 {
  width: 170px;
}

.table-responsive tr td:nth-child(4) {
  width: 100px;
}

.table-responsive .box-data-4 {
  width: 70px;
}

.table-responsive tr td:nth-child(6) {
  width: 170px;
}

.table-responsive .box-data-5 input {
  color: var(--blue-cl)!important;
  background: #fff
}

.table-responsive .box-data-5 {
  padding-right: 30px;
  display: flex;
  align-items: center;
}

.table-responsive .box-data-6 {
  width: 140px;
}

.table-responsive tr td:nth-child(7) {
  width: 130px;
}

.table-responsive .box-data-7 {
  width: 100px;
}

.table-responsive .box-data-7 ul {
  justify-content: space-between;
}

.table-responsive .box-data-7 ul li a:hover {
  font-weight: 500;
}

@media (max-width: 1600px) {
  .table-responsive tr td:nth-child(5) {
    width: 550px;
  }

  .table-responsive .box-data-5 {
    width: 520px;
  }
}

@media (max-width: 767px) {
  .top-panel .form-group .form-select-sp {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .top-panel > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .top-panel .form-group .form-select-sp,
  .top-panel .form-group {
    width: 100%;
  }

  .top-panel .page-number {
    margin-top: 10px;
  }
}


.outer-table {
  position: relative;
}

.outer-table .scroll-button {
  position: sticky;
  z-index: 1111;
  top: 50%;
  display: none;
  justify-content: space-between;
  margin: 0 -20px 0 -25px;
  height: 0;
}

@media (max-width: 1600px) {
  .outer-table .scroll-button {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .outer-table .scroll-button {
    justify-content: space-between;
    margin: 0;
  }
}
