.comment-management .top-panel button {
  height: 30px;
  border: 1px solid #3E4B5E;
  color: #3E4B5E;
  background: #fff;
  border-radius: 8px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  transition: all .4s;
  margin-right: 20px;
}

.comment-management .top-panel button:hover {
  color: var(--pink-cl);
  border-color: var(--pink-cl);
  background: #FFE0E7;
}

.comment-management .top-panel button svg * {
  transition: all .4s;
}

.comment-management .top-panel button:hover svg path {
  fill: var(--pink-cl);
}

.comment-management .top-panel button .text-collapse,
.comment-management .top-panel button.active .text-extend {
  display: none;
}

.comment-management .top-panel button.active .text-collapse {
  display: inline-block;
}

.comment-management .top-panel > * {
  line-height: 1;
}

.search-extend {
  margin-bottom: 30px;
  display: none;
}

.search-extend .form-group {
  width: 350px;
}

.search-extend .form-group label {
  font-weight: 600;
  margin-bottom: 7px;
}

.search-extend .inner > * {
  margin-right: 25px;
  margin-bottom: 20px;
}

.search-extend .inner {
  margin-bottom: -20px;
  align-items: flex-end;
}

.table-responsive tr td:first-child {
  width: 350px;
}

.table-responsive .box-data-2 {
  width: 320px;
}

.table-responsive tr td:nth-child(5),
.table-responsive tr td:nth-child(6),
.table-responsive tr td:nth-child(7) {
  width: 150px;
}

.table-responsive .box-data-5,
.table-responsive .box-data-6,
.table-responsive .box-data-7 {
  width: 120px;
}

.table-responsive tr th:nth-child(7) h3,
.table-responsive .box-data-7 {
  padding-left: 20px;
}
.outer-table .scroll-button {
  position: sticky;
  z-index: 1111;
  top: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 -20px 0 -25px;
}
@media (max-width: 1600px) {
  .search-extend .form-group {
    width: 250px;
  }

  .table-responsive .box-data-2 {
    width: 350px;
  }

  .table-responsive .box-data-3,
  .table-responsive .box-data-4 {
    width: 240px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1365px) {
  .search-extend .inner ul {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .search-extend .inner > * {
    margin-right: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .search-extend .inner ul {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .comment-management .top-panel > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .comment-management .top-panel .page-number {
    justify-content: flex-end;
  }
}